.block {
  &.block6 {
    background-image: url(../img/block_gray_bg.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 35vh;
    h2 {
      margin-top: -20vh;
      text-align: center;
    }
    .row {
      margin-top: 20vh;
      .visual {
        order: 1;
        text-align: left;
        width: 50%;
        img {
          margin: 17vh auto auto 5vh;
          width: 45%;
        }
      }
      .overview {
        order: 2;
        padding-top: 3vh;
        width: 46%;
      }
    }
  }
}
