.block {
  &.block3,
  &.block4 {
    text-align: center;
    .tree {
      height: 453px;
      .row {
        flex-shrink: 0;
        height: 180px;
        &:first-child {
          padding-top: 30px;
        }
      }
    }
  }
  .tree {
    background-image: url(../img/tree.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5vh auto 0 auto;
    width: 50%;
    .row {
      align-items: center;
      justify-content: space-between;
      &:nth-child(2n + 1) {
        .point {
          margin-left: 2vh;
        }
      }
      .col {
        width: 40%;
        img {
          width: 50%;
        }
        &.description {
          align-items: center;
          display: flex;
          font-size: 2vh;
          justify-content: flex-start;
          text-align: left;
          span,
          i.point {
            margin-right: 2vh;
            white-space: nowrap;
          }
        }
        &:nth-child(1) {
          i.point {
            order: 1;
          }
          &.description {
            margin-left: -26px;
            text-align: right;
          }
        }
      }
    }
  }
}

@media(max-width: 800px){
  &.block3,
  &.block4{
    .tree{
      background-image: none;
      height: 750px !important;
      .row{
        display: relative !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 18vh;
        &:before{
          content: '';
          display: block;
          background: #EF494D;
          width: 16px;
          height: 90px;
          position: absolute;
          margin-top: -140px;
        }
        .col{
          display: relative !important;
          flex-direction: column;
          padding: 0px;
          margin: 20px 0 20px 0 !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
          img{
            width: 100%;
          }
          &.img{
            order: 1;
          }
          &.description{
            padding: 20px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
            order: 2;
            .point{ order: 1; margin: 0px !important; }
            span{ order: 2; margin: 0px; }
          }
        }
      }
    }
  }
}
