.block {
  &.block5 {
    background-image: url(../img/block_gray_bg_rotate.svg?rnd=22);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-top: -5vh;
    padding-bottom: 15vh;
    padding-top: 35vh;
    h2 {
      margin-top: -15vh;
      text-align: center;
    }
    .row {
      margin-top: 5vh;
      .visual {
        order: 2;
        text-align: center;
        width: 45%;
        img {
          margin: 4vh auto auto 5vh;
          width: 45%;
        }
      }
      .overview {
        order: 1;
        width: 50%;
      }
    }
  }
}

@media(max-width: 800px) {
  .block {
    &.block5 {
      background-position: 0 85%;
      background-size: contain;
      .row {
        flex-direction: column;
        .overview {
          margin-top: 20vh;
          order: 2;
        }
        .visual {
          order: 1;
          width: 100%;
          img {
            margin: 0;
            width: 40%;
          }
        }
        .overview {
          width: 100%;
        }
      }
    }
  }
}
