.block {
  &.block2 {
    background-image: url(../img/block_gray_bg.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 39vh;
    .visual {
      order: 1;
      text-align: left;
      width: 50%;
      img {
        margin: 4vh auto auto 5vh;
        width: 45%;
      }
    }
    .overview {
      order: 2;
      width: 40%;
    }
  }
}

@media(max-width: 1100px) {
  .block {
    &.block2 {
      padding-top: 24vh;
    }
  }
}

@media(max-width: 800px) {
  .block {
    &.block2,
    &.block1 {
      margin-top: 5vh;
      .row {
        flex-direction: column;
        .col {
          width: 100%;
          &.visual {
            margin-bottom: 4vh;
            order: 1;
            text-align: center;
            img {
              margin: 0;
              width: 50%;
            }
          }
          &.overview {
            order: 2;
          }
        }
      }
    }
    &.block2 {
      background-image: url(../img/block_gray_bg_small_rotate.svg);
      background-position: 0 50%;
      background-size: 100%;
      padding-top: 0vh;
      .overview {
        padding-top: 13vh;
      }
    }
  }
}
