$slider_width: 80vh;
.block {
  &.block8 {
    background-image: url(../img/block_gray_bg.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 35vh;
    h2 {
      margin-top: -20vh;
      text-align: center;
    }

    ul.navigation {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 9vh;
      li {
        border-radius: 50px;
        cursor: pointer;
        display: block;
        height: 4px;
        margin: 0 3px;
        padding: 10px;
        width: 4px;
        &.active {
          border: 1px solid #ef494e;
          &:before {
            background-color: #ef494e;
          }
        }
        &:before {
          background-color: #e4e4e4;
          border-radius: 50px;
          content: '';
          display: block;
          height: 4px;
          margin-left: -2px;
          margin-top: -2px;
          width: 4px;
        }
      }
    }
    .slider {
    }
    .cards {
      margin-top: 10vh;
      .card {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 50px 0 rgba(143,143,143,.08);
        color: #000;
        display: flex;
        flex-direction: column;
        font-size: 2.4vh;
        justify-content: flex-start;
        margin: 0 15px;
        min-height: 130px;
        padding: 2.8vh;
        width: 300px;
        .card-header {
          display: flex;
          flex-direction: row;
          padding-bottom: 2vh;
          img {
            height: 34px;
            width: 34px;
          }
          .person {
            line-height: auto;
            /*display: flex;
            flex-direction: column;*/
            /*flex-wrap: wrap;*/
          }
        }
        .card-content {
          flex-wrap: wrap;
          /*display: flex;*/
        }
      }
    }
    .frame {
      font-size: 0;
      line-height: 0;
      margin-left: calc(100% - #{$slider_width});
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      width: $slider_width;
    }

    .slides {
      display: inline-block;
    }

    li {
      display: inline-block;
      position: relative;
      width: 65vh;
    }
  }
}
