$point-size: 33px;
.block {
  color: #2d2d2d;
  font-size: 2.2vh;
  font-weight: 200;
  h1 {
    color: #394e57;
    font-size: 2.4vh;
    font-weight: bolder;
    padding-bottom: 1.5vw;
    text-transform: uppercase;
  }
  h2 {
    color: #394e57;
    font-family: 'Helvetica';
    font-size: 2.1vh;
    font-weight: bolder;
    text-transform: uppercase;
    &.red {
      color: #ef494d;
      font-family: 'Gotham';
      font-size: 3vh;
    }
  }
  p {
    font-size: 2vh;
    line-height: 140%;
    padding-bottom: 1.2vw;
  }
  .point {
    align-items: center;
    background-image: url(../img/point_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-basis: $point-size;
    flex-shrink: 0;
    font-size: 1.1vh;
    font-style: normal;
    height: $point-size;
    justify-content: center;
    width: $point-size;
  }
  .btn {
    background: #ef494d;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1.7vh;
    font-weight: bolder;
    margin-top: 2vh;
    padding: .8vh 2.3vh;
  }
}

@media(max-width: 800px) {
  .block {
    .point {
      flex-basis: 40px;
      font-size: 1.6vh;
      height: 40px;
      width: 40px;
    }
  }
}
