.block {
  &.block7 {
    background-image: url(../img/block_gray_bg_rotate.svg?r);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-top: -25vh;
    padding-bottom: 15vh;
    padding-top: 30vh;
    text-align: center;
    & > p {
      margin: 0 auto;
      width: 40%;
      color: #394E57;
      letter-spacing: .05vh;
    }
    .row {
      justify-content: space-between;
      margin-top: 10vh;
      .col {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 1.9vh;
        width: 25%;
        .point {
          margin-bottom: 4vh;
        }
      }
    }
    .details {
      padding-top: 10vh;
      h2 {
        margin-bottom: 5vh;
      }
    }
  }
}

@media(max-width: 800px) {
  .block {
    &.block7 {
      background-image: url(../img/block_gray_bg_small.svg);
      background-size: 100%;
      padding-top: 10vh;
      & > p {
        font-weight: bolder;
        width: 80%;
      }
      .row {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        .col {
          padding-top: 5vh;
          width: 50%;
        }
      }
    }
  }
}
