.block {
  &.block1 {
    margin-top: 6vh;
    .visual {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 60%;
      img {
        margin-top: -11vh;
        width: 60%;
        z-index: 1;
      }
    }
    .overview {
      width: 40%;
    }
  }
}
