$point-size: 33px;
.block {
  color: #2d2d2d;
  font-size: 2.2vh;
  font-weight: 200;
  h1 {
    color: #394e57;
    font-size: 2.9vh;
    font-weight: bolder;
    text-transform: uppercase;
  }
  h2 {
    color: #394e57;
    font-size: 2.5vh;
    font-weight: bolder;
    text-transform: uppercase;
    &.red {
      color: #ef494d;
    }
  }
  .point {
    align-items: center;
    background-image: url(../img/point_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    display: flex;
    flex-basis: $point-size;
    flex-shrink: 0;
    font-size: 1.1vh;
    font-style: normal;
    height: $point-size;
    justify-content: center;
    width: $point-size;
  }
}
