.block {
  &.block6 {
    background-image: url(../img/block_gray_bg.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 55%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 32vh;
    h2 {
      margin-top: -20vh;
      text-align: center;
    }
    .row {
      margin-top: 20vh;
      .visual {
        order: 1;
        text-align: left;
        width: 50%;
        img {
          margin: 17vh auto auto 5vh;
          width: 55%;
        }
      }
      .overview {
        order: 2;
        padding-top: 3vh;
        width: 46%;
      }
    }
  }
}

@media(max-width: 800px) {
  .block {
    &.block6 {
      background-position: 0 34%;
      background-size: 100%;
      padding-top: 0;
      h2 {
        margin-top: 6vh;
      }
      .row {
        flex-direction: column;
        margin-top: 6vh;
        .col {
          width: 100%;
          &.visual {
            margin-bottom: 4vh;
            order: 1;
            text-align: center;
            img {
              margin: 0;
              width: 50%;
            }
          }
          &.overview {
            margin-bottom: 10vh;
            margin-top: 19vh;
            order: 2;
          }
        }
      }
    }
  }
}
