$point-size: 33px;
.block{
  &.block3, &.block4{
    text-align: center;
    h2{
      font-size: 2.3vh;
      color: #394E57;
      font-weight: bolder;
      &.red{
        color: #EF494D;
      }
    }
    .tree{
      height: 453px;
      .row{
        flex-shrink: 0;
        height: 170px;
        &:first-child{ padding-top: 20px; }
      }
    }
  }
  .tree{
    width: 50%;
    margin: 5vh auto 0 auto;
    background-image: url(../img/tree.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .row{
      justify-content: space-between;
      align-items: center;
      &:nth-child(2n + 1){
        .point{ margin-left: 2vh; }
      }
      .col{
        width: 40%;
        img{ width: 50% }
        &.description{
          font-size: 2vh;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          span, i.point{ margin-right: 2vh; white-space: nowrap; }
        }
        &:nth-child(1){
          i.point{ order: 1; }
          &.description{ text-align: right; margin-left: -26px; }
        }
        i.point{
          background-image: url(../img/point_bg.svg);
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          color: #ffffff;
          display: flex;
          font-size: 1.1vh;
          justify-content: center;
          align-items: center;
          font-style: normal;
          width: $point-size;
          height: $point-size;
          flex-basis: $point-size;
          flex-shrink: 0;
        }
      }
    }
  }
}
