$slider_width: 80vh;
.block {
  &.block8 {
    background-image: url(../img/block_gray_bg.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 65%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 35vh;
    h2 {
      margin-top: -20vh;
      text-align: center;
    }

    ul.navigation {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 9vh;
      li {
        border-radius: 50px;
        cursor: pointer;
        display: block;
        height: 4px;
        margin: 0 3px;
        padding: 10px;
        width: 4px;
        &.active {
          border: 1px solid #ef494e;
          &:before {
            background-color: #ef494e;
          }
        }
        &:before {
          background-color: #e4e4e4;
          border-radius: 50px;
          content: '';
          display: block;
          height: 4px;
          margin-left: -2px;
          margin-top: -2px;
          width: 4px;
        }
      }
    }
    .cards {
      margin-top: 10vh;
      .card {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 50px 0 rgba(143,143,143,.08);
        color: #000;
        display: flex;
        flex-direction: column;
        font-size: 2.4vh;
        justify-content: flex-start;
        margin: 0 10px;
        min-height: 130px;
        overflow: hidden;
        padding: 1.2vh;
        width: 300px;
        .card-header {
          display: flex;
          flex-direction: row;
          padding-bottom: .5vh;
          img {
            height: 34px;
            width: 34px;
          }
          .person {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            line-height: auto;
            margin-left: 1vh;
            div {
              font-size: 1.8vh;
              height: 2vh;
              &.name {
                font-weight: bold;
                margin-top: 1vh;
              }
              &.position {
                color: #bababa;
                font-size: 1.7vh;
              }
            }
          }
        }
        .card-content {
          color: #676767;
          display: block;
          font-size: 1.8vh;
          line-height: 100%;
          min-height: 10vh;
          white-space: wrap;
          white-space: normal;
        }
      }
    }
    .frame {
      font-size: 0;
      line-height: 0;
      margin-left: calc(100% - #{$slider_width});
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      width: $slider_width;
    }

    .slides {
      display: inline-block;
    }

    li {
      display: inline-block;
      position: relative;
      width: 65vh;
    }
  }
}
