.block {
  &.block9 {
    text-align: center;
    & > p {
      margin: 0 auto;
      width: 40%;
    }
    .row {
      justify-content: space-around;
      margin-top: 5vh;
      .col {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: 1.9vh;
        width: 20%;
        .point {
          margin-bottom: 4vh;
        }
      }
    }
    .details {
      padding-top: 10vh;
      h2 {
        margin-bottom: 5vh;
      }
    }
  }
}
