$point-size: 33px;
.block
{
  color: #2d2d2d;
  font-weight: 200;
  font-size: 2.2vh;
  h1{
    font-size: 2.9vh;
    color: #394E57;
    font-weight: bolder;
    text-transform: uppercase;
  }
  h2{
    font-size: 2.5vh;
    color: #394E57;
    font-weight: bolder;
    text-transform: uppercase;
    &.red{
      color: #EF494D;
    }
  }
  .point{
    background-image: url(../img/point_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #ffffff;
    display: flex;
    font-size: 1.1vh;
    justify-content: center;
    align-items: center;
    font-style: normal;
    width: $point-size;
    height: $point-size;
    flex-basis: $point-size;
    flex-shrink: 0;
  }
}
