.block {
  &.faq {
    padding: 20vh 0;
    h1,
    h2 {
      font-weight: bold;
      text-align: center;
    }
    h1 {
      font-size: 3vh;
    }
    .questions {
      border-radius: 4px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      margin-top: 3vh;
      width: 100%;
      .question {
        .title {
          align-items: center;
          background-color: #ef494d;
          border-bottom: 1px solid #fff;
          color: #fff;
          display: flex;
          flex-wrap: nowrap;
          font-size: 2vh;
          font-weight: bolder;
          justify-content: space-between;
          i {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            padding: 1vh 2vh;
            /*background-color: #7b272a;*/
            text-align: center;
            transform: rotate(90deg);
            transition: all .5s;
            white-space: nowrap;
            width: 40px;
          }
          span {
            flex-basis: 70%;
            flex-shrink: 0;
            max-width: 90%;
            padding: 10px;
          }
        }
        .answer {
          font-size: 0;
          height: auto;
          max-height: 0;
          opacity: 0;
          transition: max-height 1s, opacity 1.5s;
          visibility: hidden;
          ul {
            list-style-type: disc;
            padding: 0 3vh;
            li {
              clear: both;
              padding-bottom: 1vh;
            }
          }
          a {
            color: #ef494d;
            &.btn {
              color: #fff;
            }
          }
        }
        &.active {
          .title {
            i {
              transform: rotate(270deg);
            }
          }
          .answer {
            font-size: 2vh;
            max-height: 1000px;
            opacity: 1;
            padding: 2vh;
            visibility: visible;
          }
        }
      }
    }
  }
}

/*@media(max-width: 800px){
  .block{
    &.faq{
      .questions{
        .question{
          .title{
            font-size: 1.5vh;
          }
        }
      }
    }
  }
}
*/
