footer{
  display: block;
  padding: 6vh 0;
  background-color: #4e4e4e;
  color: #ffffff;
  h1{
    text-align: center;
    font-weight: 400;
    font-size: 4vh;
    &.follow_us{
      margin-top: 4vh;
    }
  }
  p{
    text-align: center;
    font-size: 2vh;
    padding: 2vh 0;
  }
  form{
    text-align: center;
    input[type="email"]{
      background: transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      padding: 3vh 2vh;
      width: 70%;
      font-size: 2vh;
      margin: 0;
      border-right: 0px;
    }
    input[type="submit"]{
      background-color: #EF494E;
      padding: 3.3vh;
      border: none;
      margin: 0;
      text-transform: uppercase;
      margin-left: -0.5vh;
      margin-top: -0.2vh;
    }
  }
  .icons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 6vh auto;
    .icon{
      font-size: 5vh;
      transition: all 0.5s;
      color: #4e4e4e;
      background: #ffffff;
      &:hover{
        background-color: #ef494d;
        color: #ffffff;
      }
      border-radius: 5px;
      width: 8vh;
      height: 8vh;
      padding: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  nav{
    width: 70%;
    margin: 0 auto;
    ul{
      display: flex;
      justify-content: space-around;
      font-weight: bold;
    }
  }
  p.copy{
    font-weight: bolder;
    margin-top: 5vh;
  }
}

@media(max-width: 1200px){
  footer{
    .icons, nav{
      width: 100%;
    }
    .icons{
      .icon{
        width: 5vh;
        height: 5vh;
        font-size: 2.5vh;
      }
    }
    nav{
      font-size: 1.5vh;
    }
  }
}
