footer {
  background-color: #4e4e4e;
  color: #fff;
  display: block;
  padding: 6vh 0;
  h1 {
    font-size: 4vh;
    font-weight: 400;
    text-align: center;
    &.follow_us {
      margin-top: 4vh;
    }
  }
  p {
    font-size: 2vh;
    padding: 2vh 0;
    text-align: center;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    input[type='email'] {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 0;
      border-right: 0;
      color: #fff;
      flex-shrink: .5;
      font-size: 1.5vh;
      margin: 0;
      padding: 2vh 2vh;
      width: 50%;
    }
    input[type='submit'] {
      background-color: #ef494e;
      border: none;
      color: #fff;
      font-size: 14px;
      margin: 0;
      margin-top: 0vh;
      padding: 1.3vh;
      text-transform: uppercase;
    }
    select {
      background-color: #ef494e;
      border: none;
      color: #fff;
      font-size: 14px;
      margin: 0;
      margin-left: -.5vh;
      margin-top: 0vh;
      padding: 2vh;
      text-transform: uppercase;
    }
  }
  .icons {
    display: flex;
    justify-content: center;
    margin: 6vh auto;
    max-width: 600px;
    width: 50%;
    .icon {
      align-items: center;
      background: #fff;
      border-radius: 5px;
      color: #4e4e4e;
      display: flex;
      font-size: 3vh;
      height: 8vh;
      justify-content: center;
      margin: 0 1vh;
      max-height: 34px;
      max-width: 34px;
      padding: 2vh;
      transition: all .5s;
      width: 8vh;
      &:hover {
        background-color: #ef494d;
        color: #fff;
      }
    }
  }
  ul {
    li {
      list-style-type: none;
    }
  }
  nav {
    margin: 0 auto;
    width: 70%;
    ul {
      display: flex;
      font-weight: bold;
      justify-content: center;
      li {
        margin: 0 2vh;
      }
    }
  }
  p.copy {
    font-weight: bolder;
    margin-top: 5vh;
  }
}
.response {
  font-weight: 700;
  margin-top: 20px;
}
.response-error {
  color: #ef494d;
}
.response-success {
  color: #d6e9c6;
}

@media(max-width: 1200px) {
  footer {
    .icons,
    nav {
      width: 100%;
    }
    .icons {
      .icon {
        font-size: 2.5vh;
        height: 5vh;
        width: 5vh;
      }
    }
    nav {
      font-size: 1.5vh;
    }
  }
}

@media(max-width: 800px) {
  footer {
    form {
      input[type='submit'] {
        margin-top: 1vh;
      }
    }
  }
}
