$slider_width: 80%;
$element: 40vh;
$element_with_padding: 40.2vh;
.block {
  &.team {
    background-image: url(../img/block_gray_bg_rotate.svg?rnd=22);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 65%;
    margin-top: -15vh;
    padding-bottom: 15vh;
    padding-top: 35vh;
    h2 {
      margin-bottom: 7vh;
      margin-top: -15vh;
      text-align: center;
    }
    ul.navigation {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 0;
      li {
        border-radius: 50px;
        cursor: pointer;
        display: block;
        height: 4px;
        margin: 0 3px;
        padding: 10px;
        width: 4px;
        &.active {
          border: 1px solid #ef494e;
          &:before {
            background-color: #ef494e;
          }
        }
        &:before {
          background-color: #e4e4e4;
          border-radius: 50px;
          content: '';
          display: block;
          height: 4px;
          margin-left: -2px;
          margin-top: -2px;
          width: 4px;
        }
      }
    }
    .cards {
      display: flex;
      margin: 3vh auto 0 auto;
      max-width: 100%;
      max-width: 98%;
      overflow: hidden;
      padding-bottom: 5vh;
      width: $element_with_padding * 3;
      li {
        display: inline-block;
        flex-shrink: 0;
        max-width: 98%;
        position: relative;
        width: $element;
      }
      .card {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 20px 0 rgba(143,143,143,.08);
        color: #000;
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        justify-content: flex-start;
        margin: 0 10px;
        overflow: hidden;
        padding: 3.5vh;
        position: relative;
        .card-header {
          display: flex;
          flex-direction: row;
          padding-bottom: .5vh;
          img {
            height: 48px;
            width: 48px;
          }
          .person {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            line-height: auto;
            margin-left: 4.5vh;
            div {
              font-size: 1.8vh;
              height: 2.5vh;
              &.name {
                font-weight: bold;
              }
              &.position {
                color: #bababa;
                font-size: 1.5vh;
              }
            }
          }
        }
        .card-content {
          color: #676767;
          display: block;
          font-size: 1.8vh;
          line-height: 160%;
          min-height: 10vh;
          white-space: wrap;
          white-space: normal;
        }
        &:hover {
          .overlap {
            background-color: rgba(111, 32, 36, .9);
            left: 0;
            visibility: visible;
          }
        }
        .overlap {
          align-items: center;
          background-color: rgba(111, 32, 36, 0);
          display: flex;
          height: 100%;
          justify-content: center;
          left: -100%;
          position: absolute;
          top: 0;
          transition: all .2s;
          visibility: hidden;
          width: 100%;
          a {
            color: #fff;
            font-size: 3vh;
            margin: auto 1vh;
          }
        }
      }
    }
  }
}

@media(min-width: 1500px) {
  .block {
    &.team {
      .cards {
        width: $element_with_padding * 3;
      }
    }
  }
}

@media(max-width: 1100px) {
  .block {
    &.team {
      .cards {
        width: $element_with_padding * 2;
      }
    }
  }
}
@media(max-width: 800px) {
  .block {
    &.team {
      background-image: none;
      padding-top: 30vh;
      .cards {
        width: $element_with_padding;
        .card {
          margin-top: 2vh;
          .card-header {
            img {
              height: 5vh;
              width: 5vh;
            }
            .person {
              div {
                &.name,
                &.position {
                  font-size: 2.2vh;
                }
              }
            }
          }
          .card-content {
            font-size: 2.4vh;
          }
        }
      }
      .frame {
        margin-left: calc(100% - 120vh);
        width: 120vh;
      }
    }
  }
}
