.icons
  .bg-wrap
    .bg
  .list-block
    .list
    .list-bg
  .guy
  .money-block
    .money-box
    .money
    .cardes
    .coin1
    .coin2
    .coin3
  .cross
  .cross2
  .ringlet
  .ringlet2
  .ball
  .ball2
  .checkbox-box
    .jsDelay1300.checkbox
    .jsDelay2000.checkbox2
    .jsDelay2700.checkbox3
  .string-box
    .jsDelay1300.string
    .jsDelay1900.string2
    .jsDelay2000.string3
    .jsDelay2600.string4
    .jsDelay2700.string5
    .jsDelay3300.string6
  .circle-block
    .jsDelay1000.circle
    .jsDelay1700.circle2
    .jsDelay2400.circle3
