section.block.block3#create_events
  .wrapper
    h2.red HOW IT WORKS
    h2 CREATING EVENTS
    .tree
      .row
        .col
          img(src="./img/block3_1.svg")
        .col.description
          i.point 1
          span
            | Signup​ ​and​ ​select​ ​your​ event’s​
            br
            | specific​ ​details
      .row
        .col.description
          i.point 2
          span
            | Incentivise​ ​the​ ​community​
            br
            | with​ ​TIX​ ​Tokens
        .col
          img(src="./img/block3_2.svg")
      .row
        .col
          img(src="./img/block3_3.svg")
        .col.description
          i.point 3
          span Sell tickets
