section.block.block2
  .row.wrapper
    .col.overview
      h1= $i18n.block2_header
      p= $i18n.block2_description
      p= $i18n.block2_parapgraph
      p.navigation_link
        a.btn(href="#signup", onclick="document.querySelector('#MERGE3').options.selectedIndex = 0;")= $i18n.button_sign_up

    .col.visual
      img(src=animation("icon2_new.svg")).svg_animation

