section.block.block3
  .wrapper
    h2.red= $i18n.block3_header
    h2= $i18n.block3_subheader
    .tree
      .row
        .col.img
          img(src="./img/block3_1.svg")
        .col.description
          i.point 1
          span
            = $i18n.block3_node1_line1
            br
            = $i18n.block3_node1_line2
      .row
        .col.description
          i.point 2
          span
            = $i18n.block3_node2_line1
            br
            = $i18n.block3_node2_line2
        .col.img
          img(src="./img/block3_2.svg")
      .row
        .col.img
          img(src="./img/block3_3.svg")
        .col.description
          i.point 3
          span= $i18n.block3_node3
