section.block.block2
  .row.wrapper
    .col.overview
      h1 EARN CREDITS AND ATTEND EVENTS
      p Join our active community of event vetters, who earn and redeem credits by vetting and attending events, writing reviews for events they’ve already attended and watching advertisements for events they might want to attend later.

      p Sign up for launch news and be notified about when you can start earning credits and attending events.

      p.navigation_link
        a.btn(href="#signup") Sign up for news

    .col.visual
      img(src="./img/icon2.svg").visua
