section.block.block6
  h2.red= $i18n.block6_header
  .row.wrapper
    .col.overview
      h1= $i18n.block6_subheader
      p
        strong= $i18n.block6_copyright
      p= $i18n.block6_description
      p= $i18n.block6_paragraph

    .col.visual
      img(src=animation("icon4_new.svg")).svg_animation.visual
