section.block.block7#details.scroll_watch
  p
    strong
      | Fee rates will initially be increased/decreased by majority vote of
      | TIX holders after the system has been launched, as follows:
  .row.wrapper
    .col
      .point 1
      .description
        | Posting fee will be based on the number of tickets and total
        | value of all tickets offered, roughly 2%.
    .col
      .point 2
      .description
        | A per contract fee for direct marketing to local users of
        | the Blocktix application (this fee will be determined by
        | the regional advertising network traffic).
    .col
      .point 3
      .description
        | 2% of the value of all p2p transfers through the exchange platform.
  .wrapper.details
      h2.red details
      p Symbol: TIX
      p Decimals: 18
      p Max Supply: 62,500,000
      p Address:
        a(href="https://etherscan.io/token/0xea1f346faf023f974eb5adaf088bbcdf02d761f4" target="_blank")
          | 0xea1f346faf023f974eb5adaf088bbcdf02d761f4
      p
        a.btn(href="https://blocktix.io/public/doc/blocktix-wp-draft.pdf" target="_blank") Download whitepapper

