section.block.block6
  h2 payment and fees
  .row.wrapper
    .col.overview
      h1 TIX​ ​TOKENS
      p Our​ ​fees​ ​are​ ​designed​ ​to​ ​eliminate​ ​spam,​ ​incentivize​ ​token​ holders​ and reduce​ ​ticket​ ​scalping
      p Blocktix fees compensate token holders participating in the event/advertising verification process, to discourage for-profit ticket trading (scalping) on the P2P exchange, and to incentivise mobile application users to view event advertisements. There should be no expectation of profit from TIX token ownership or from the Blocktix system.

      p
        | The Blocktix platform will require TIX Tokens to be used as a
        | system access fee as well as to introduce new events to the
        | event feed. TIX tokens will also be required to place
        | in-application advertising. TIX and/or ETH tokens will be
        | necessary to facilitate ticket purchases and P2P transfers.
        | The hosting, transfer and marketing fees will be
        | distributed to TIX token holders who participate in the
        | event/advertisment verification process which will be available
        | to all TIX holders on the platform

    .col.visual
      img(src="./img/icon4.svg").visual
