section.block.block7
  p
    | Fee rates will initially be increased/decreased by majority vote of
    | TIX holders after the system has been launched, as follows:
  .row.wrapper
    .col
      .point 1
      .description
        | Posting fee will be based on the number of tickets and total
        | value of all tickets offered, roughly 2%.
    .col
      .point 2
      .description
        | A per contract fee for direct marketing to local users of
        | the Blocktix application (this fee will be determined by
        | the regional advertising network traffic).
    .col
      .point 3
      .description
        | 2% of the value of all p2p transfers through the exchange platform.
