section.block.block4
  .wrapper
    h2#attending= $i18n.block4_header
    .tree
      .row
        .col
          img(src="./img/block4_1.svg")
        .col.description
          i.point 1
          span= $i18n.block4_node1
      .row
        .col.description
          i.point 2
          span
            = $i18n.block4_node2_line1
            br
            = $i18n.block4_node2_line2
        .col
          img(src="./img/block4_2.svg")
      .row
        .col
          img(src="./img/block4_3.svg")
        .col.description
          i.point 3
          span= $i18n.block4_node3
