section.block.block5
  h2.red= $i18n.block5_header
  .row.wrapper
    .col.overview
      h1= $i18n.block5_subheader
      p= $i18n.block5_description
      p= $i18n.block5_paragraph

    .col.visual
      img(src=animation("icon3_new.svg")).svg_animation.visual
