section.block.block5
  h2 SECURITY
  .row.wrapper
    .col.overview
      h1 TICKETS​ ​YOU​ ​CAN​ ​TRUST
      p
        | Utilising​ ​Ethereum-based​ ​blockchain,​ ​Blocktix​ ​provides​ ​a​ ​simple​ ​and secure​ ​solution​ ​
        | to​ ​distribute​ ​counterfeit-proof​ ​event​ ​tickets​ ​as​ ​well​ ​as facilitate​ ​trustless​ ​
        | p2p​ ​transfers​ ​of​ ​ownership.​
      p The​ ​smart​ ​contracts​ ​are provably​ ​secure​ ​and​ ​undergo​ ​rigorous​ ​external​ ​security​ ​auditing.

    .col.visual
      img(src="./img/icon3.svg").visual
