section.block.block1
  .row.wrapper
    .col.overview
      h1 INCENTIVIZE​ ​YOUR​ ​AUDIENCE
      p Use​ ​the​ ​power​ ​of​ ​the​ ​crowd​ ​to​ ​reduce​ ​distribution,​ ​transfer​ ​and promotional​ costs​ ​by​ ​up​ ​to​ ​90%​ ​with​ ​our​ ​decentralized​ ​solution.The platform​ ​is​ ​a​ ​direct​ ​link​ to​ ​an​ ​active​ ​community​ ​financially​ ​incentivized​ ​to engage​ ​with​ ​your​ ​advertising,​ vett​ ​your​ ​events​ ​and​ ​more.​

      p Sign​ ​up​ ​for launch​ ​news​ ​and​ ​get​ ​notified​ ​about​ ​when​ ​you​ ​can​ ​get​ ​the​ ​wheels turning​ ​and​ ​sell​ ​some​ ​tickets.
      p
        a.btn Sign up for news
    .col.visual
      img(src="./img/icon1.svg").visual
