section.block.block1
  .row.wrapper
    .col.overview
      h1= $i18n.block1_header
      p= $i18n.block1_description
      p= $i18n.block1_paragraph
      p.navigation_link
        a.btn(href="#signup", onclick="document.querySelector('#MERGE3').options.selectedIndex = 1;")= $i18n.button_sign_up
    .col.visual
      img(src=animation("icon1_new.svg")).svg_animation
