section.block.block4
  .wrapper
    h2#attending ATTENDING EVENTS
    .tree
      .row
        .col
          img(src="./img/block4_1.svg")
        .col.description
          i.point 1
          span Signup and download the app
      .row
        .col.description
          i.point 2
          span
            | Browse events to vett, attend
            br
            | or preview
        .col
          img(src="./img/block4_2.svg")
      .row
        .col
          img(src="./img/block4_3.svg")
        .col.description
          i.point 3
          span Earn or redeem credits
