section.block.contact
  .wrapper
    h2.red contact us
    .row
      //.col
      //  img(src="./img/contact_1.svg")
      //  p
      //    a(href="tel:+27419227095") +27 41 922 7095
      //.col
      //  img(src="./img/contact_2.svg")
      //  p Johan Cronjé Square,
      //  p Uitenhage Central, Port Elizabeth,
      //  p 6229, South Africa
      .col
        img(src="./img/contact_3.svg")
        p
          a(href="mailto:info@blocktix.org") info@blocktix.org

