section.block.faq
  .wrapper
    h1.red= $i18n.faq_header
    h2= $i18n.faq_subheader

    .questions
      .question
        a(href="#").title
          span= $i18n.faq_hardcoded_title
          i.icon_chevron-right
        .answer
          div= $i18n.faq_hardcoded_symbol
          div= $i18n.faq_hardcoded_decimals
          div= $i18n.faq_hardcoded_supply
          div
            = $i18n.faq_hardcoded_address
            a(href="https://etherscan.io/token/0xea1f346faf023f974eb5adaf088bbcdf02d761f4" target="_blank")
              |  0xEa1f346faF023F974Eb5adaf088BbCdf02d761F4
          div
            a.btn(href="https://blocktix.io/public/doc/blocktix-wp-draft.pdf" target="_blank")= $i18n.faq_hardcoded_download_button
      each question in $i18n.faq_questions
        .question
          a(href="#").title
            span= question.title
            i.icon_chevron-right
          .answer
            = question.body
            - if (question.blog)
              a(href="https://blog.blocktix.io")
                = question.blog
            - if (typeof(question.lines) === "object")
              ul
                each line in question.lines
                  li= line
