footer#signup.scroll_watch
  .wrapper
    h1 Subscribe Us for Updates
    p
      | We'd love it if you could subscribe
      br
      | and stay in touch (we don't spam).

    div(id="mc_embed_signup")
      form(action="https://blocktix.us17.list-manage.com/subscribe/post?u=3bc8785a5db2b53db0b4d864e&amp;id=314e977746", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
        input(type="email", value="", name="EMAIL", class="required email", id="mce-EMAIL", placeholder="Email Address")
        select(name="ORGANIZER", id="mce-ORGANIZER")
          option(value="No, I only attend events.") Attendee
          option(value="Yes! I also organize events.") Organizer
        input(type="submit", value="Subscribe", name="subscribe", id="mc-embedded-subscribe", class="button")

        div(id="mce-responses", class="clear wrapper")
          div(class="response response-error", id="mce-error-response", style="display:none")
          div(class="response response-success", id="mce-success-response", style="display:none")

    div(style="position: absolute; left: -5000px;", aria-hidden="true")
      input(type="text", name="b_3bc8785a5db2b53db0b4d864e_314e977746", tabindex="-1", value="")

    script(type="text/javascript", src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js")
    script(type='text/javascript')
      | (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';
      | ftypes[0]='email';fnames[3]='ORGANIZER';ftypes[3]='dropdown';}(jQuery));
      | var $mcj = jQuery.noConflict(true);
      | $mcj('[type=submit]').on('click', function() {$mcj('[type=submit],#mce-EMAIL,#mce-ORGANIZER').fadeOut(300).fadeIn(600);});

    h1.follow_us Follow Us:
    .icons
      a(href="https://www.facebook.com/blocktix/" target="_blank").icon.icon_facebook-f
      a(href="https://twitter.com/blocktix" target="_blank").icon.icon_twitter_n
      a(href="https://www.linkedin.com/company/18145098/" target="_blank").icon.icon_linkedin
      a(href="https://discordapp.com/invite/4A8JW3K" target="_blank").icon.icon_discord
      a(href="https://www.reddit.com/r/blocktix/" target="_blank").icon.icon_reddit
      a(href="https://github.com/blocktix" target="_blank").icon.icon_github

    include nav
    p.copy &copy; All Rights Reserved.
script
  | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  | ga('create', 'UA-90871302-1', 'auto');
  | ga('send', 'pageview');
