footer#signup.scroll_watch
  .wrapper
    h1 Subscribe Us for Updates
    p
      | We will never spam. Subscribe us for keep in
      br
      | touch with us. We will love it
    form(action="https://mailchimp.us8.list-manage.com/subscribe/post", method="POST")
      input(type="hidden", name="u", value="userID")
      input(type="hidden", name="id", value="listID")
      input(type="email", name="MERGE0", id="MERGE0", placeholder="Email Address")
      input(type="submit", value="send")
    h1.follow_us Follow Us:
    .icons
      a(href="https://www.facebook.com/blocktix/" target="_blank").icon.icon_facebook-f
      a(href="https://twitter.com/blocktix" target="_blank").icon.icon_twitter_n
      a(href="https://www.linkedin.com/company/18145098/" target="_blank").icon.icon_linkedin
      a(href="https://discordapp.com/invite/4A8JW3K" target="_blank").icon.icon_discord
      a(href="https://www.reddit.com/r/blocktix/" target="_blank").icon.icon_reddit

    include nav
    p.copy &copy; All Rights Reserved.

<form action="http://mailchimp.us8.list-manage.com/subscribe/post" method="POST">