footer#signup.scroll_watch
  .wrapper
    h1 Subscribe Us for Updates
    p
      | We will never spam. Subscribe us for keep in
      br
      | touch with us. We will love it
    form(action="#", method="POST")
      input(type="email", placeholder="Email Address")
      input(type="submit", value="send")
    h1.follow_us Follow Us:
    .icons
      a(href="#").icon.icon_facebook-f
      a(href="#").icon.icon_twitter_n
      a(href="#").icon.icon_linkedin
      a(href="#").icon.icon_discord
      a(href="#").icon.icon_reddit

    include nav
    p.copy &copy; All Rights Reserved.
