footer#signup.scroll_watch
  .wrapper
    h1 Subscribe Us for Updates
    p
      | We will never spam. Subscribe us for keep in
      br
      | touch with us. We will love it

    iframe(width="0", height="0", border="0", name="dummyframe", id="dummyframe")
    form(action="https://blocktix.us17.list-manage.com/subscribe/post", target="dummyframe")
      input(type="hidden", name="u", value="3bc8785a5db2b53db0b4d864e")
      input(type="hidden", name="id", value="314e977746")
      div(class="field-shift", aria-label="Please leave the following three fields empty")
        label(for="b_name") Name:
        input(type="text", name="b_name", tabindex="-1", value="", placeholder="Freddie", id="b_name")
        label(for="b_email") Email:
        input(type="email", name="b_email", tabindex="-1", value="", placeholder="youremail@gmail.com", id="b_email")
        label(for="b_comment") Comment:
        textarea(name="b_comment", tabindex="-1", placeholder="Please comment", id="b_comment")
      input(type="email", name="MERGE0", id="MERGE0", placeholder="Email Address", autocapitalize="off", autocorrect="off")
      select(name="MERGE3", id="MERGE3")
        option(value="No, I only attend events.") Attendee
        option(value="Yes! I also organize events.") Organizer
      input(type="submit", value="Subscribe")
    h1.follow_us Follow Us:
    .icons
      a(href="https://www.facebook.com/blocktix/" target="_blank").icon.icon_facebook-f
      a(href="https://twitter.com/blocktix" target="_blank").icon.icon_twitter_n
      a(href="https://www.linkedin.com/company/18145098/" target="_blank").icon.icon_linkedin
      a(href="https://discordapp.com/invite/4A8JW3K" target="_blank").icon.icon_discord
      a(href="https://www.reddit.com/r/blocktix/" target="_blank").icon.icon_reddit

    include nav
    p.copy &copy; All Rights Reserved.