header
  .fixed
    .wrapper
      a(href= "#").logo.icon_logo
      include nav
  .wrapper

    section
      h1
        | Find​ ​or​ ​start​ ​remarkable​ ​events,​
        br
        | let​ ​the​ ​platform​ ​do​ ​the​ ​rest
      p.thin
        | We​ ​connect​ ​event​ ​organizers​ ​with​ ​an​ ​incentivised​ ​community​ ​who actively​​
        br
        | reduce​ ​the​ ​associated​ ​costs​ ​of​ ​event​ ​hosting​ ​by​ ​up​ ​to​ ​90%
      p Learn​ ​more​ ​about​ ​how​ ​Blocktix​ ​can​ ​meet​ ​your​ ​needs
      p.buttons.navigation_link
        a(href="#find_events").btn Creating events
        a(href="#create_events").btn Finding events




