header
  .fixed
    .wrapper
      a(href= "#").logo.icon_logo
      include nav
      a.toggle_menu
        i.icon_bars
    .mobile
      include nav
  .wrapper.menu

    section
      h1
        | Find or start remarkable events,
        | let the platform do the rest
      p.thin
        | We connect event organizers with an incentivised community who actively
        br
        | reduce the associated costs of event hosting by up to 90%
      p Learn more about how Blocktix can meet your needs
      p.buttons
        span.navigation_link
          a(href="#create_events").btn
            span Creating events
        span.navigation_link
          a(href="#attending").btn
            span Attending events




