header
  .fixed
    .wrapper
      a(href= "#").logo.icon_logo
      nav
        ul
          li
            a(href = "#") Find Events
          li
            a(href = "#") Create Events
          li
            a(href = "#") TIX Tokens
          li
            a(href = "#") Details
          li
            a(href = "#") Team
          li
            a(href = "#") FAQ
          li.active
            a(href = "#") Sign Up
  .wrapper

    section
      h1
        | Find​ ​or​ ​start​ ​remarkable​ ​events,​
        br
        | let​ ​the​ ​platform​ ​do​ ​the​ ​rest
      p.thin
        | We​ ​connect​ ​event​ ​organizers​ ​with​ ​an​ ​incentivised​ ​community​ ​who actively​​
        br
        | reduce​ ​the​ ​associated​ ​costs​ ​of​ ​event​ ​hosting​ ​by​ ​up​ ​to​ ​90%
      p Learn​ ​more​ ​about​ ​how​ ​Blocktix​ ​can​ ​meet​ ​your​ ​needs
      p.buttons
        a(href="#").btn Creating events
        a(href="#").btn Finding events




