header
  .fixed
    .wrapper
      a(href= "#").logo.icon_logo
      include nav
      a.toggle_menu
        i.icon_bars
    .mobile
      include nav
  .wrapper.menu

    section
      h1= $i18n.header_title
      p.thin= $i18n.header_subtitle1

      p= $i18n.header_subtitle2
      p.buttons
        span.navigation_link
          a(href="#create_events").btn
            span= $i18n.button_creating_events
        span.navigation_link
          a(href="#attending").btn
            span= $i18n.button_attending_events




