extends layouts/main

block content
  include include/block1
  include include/block2
  include include/block3
  include include/block4
  include include/block5
  include include/block6
  include include/block7
  include include/block8
  include include/block9
