extends layouts/main
block content
  #incentive
    include include/block1
    include include/block2
  #create_events.scroll_watch
    include include/block3
  #attend_events.scroll_watch
    include include/block4
    include include/block5
  #tix_tokens.scroll_watch
    include include/block6
  #team.scroll_watch
    include include/team
  #advisors.scroll_watch
    include include/advisors
    include include/contact
  #faq.scroll_watch
    include include/faq
