extends layouts/main

block content
  #find_events.scroll_watch
    include include/block1
    include include/block2
  #create_events.scroll_watch
    include include/block3
    include include/block4
    include include/block5
  #tix_tokens.scroll_watch
    include include/block6
  #details.scroll_watch
    include include/block7
  #team.scroll_watch
    include include/block8
    include include/block9
  #faq.scroll_watch
    include include/faq
