.icon_logo:before { content: '\EA01'; }
.icon_google-plus:before { content: '\EA02'; }
.icon_instagram:before { content: '\EA03'; }
.icon_pinterest:before { content: '\EA04'; }
.icon_facebook-f:before { content: '\EA05'; }
.icon_linkedin:before { content: '\EA06'; }
.icon_twitter_n:before { content: '\EA07'; }
