@font-face {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  src: url("../font/icons.eot");
  src: url("../font/icons.eot#iefix") format("embedded-opentype"), url("../font/icons.woff2") format("woff2"), url("../font/icons.woff") format("woff"), url("../font/icons.ttf") format("truetype"), url("../font/icons.svg#icons") format("svg"); }


html,
body {
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'font', 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
  min-height: 100vh; }

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%; }

.wrapper {
  margin: 0 10%; }

.box {
  margin: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px; }

.background-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.image {
  display: block;
  height: auto;
  max-width: 100%; }

.no-scroll {
  overflow: hidden; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

@media (max-width: 700px) {
  .wrapper {
    margin: 0; } }

.icon_logo:before {
  content: '\EA01'; }

[class*='icon_']:before,
[class*='icon_']:after {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class*='icon_']:before:hover,
  [class*='icon_']:after:hover {
    text-decoration: none; }

.block.block1 {
  margin-top: 6vh; }
  .block.block1 .visual {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60%; }
    .block.block1 .visual img {
      margin-top: -11vh;
      width: 60%;
      z-index: 1; }
  .block.block1 .overview {
    width: 40%; }

.block.block2 {
  background-image: url(../img/block_gray_bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -15vh;
  padding-bottom: 15vh;
  padding-top: 35vh; }
  .block.block2 .visual {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
    width: 50%; }
    .block.block2 .visual img {
      margin: 4vh auto auto 5vh;
      width: 45%; }
  .block.block2 .overview {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 40%; }

.block.block3, .block.block4 {
  text-align: center; }
  .block.block3 .tree, .block.block4 .tree {
    height: 453px; }
    .block.block3 .tree .row, .block.block4 .tree .row {
      -ms-flex-negative: 0;
      flex-shrink: 0;
      height: 180px; }
      .block.block3 .tree .row:first-child, .block.block4 .tree .row:first-child {
        padding-top: 30px; }

.block .tree {
  background-image: url(../img/tree.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5vh auto 0 auto;
  width: 50%; }
  .block .tree .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .block .tree .row:nth-child(2n + 1) .point {
      margin-left: 2vh; }
    .block .tree .row .col {
      width: 40%; }
      .block .tree .row .col img {
        width: 50%; }
      .block .tree .row .col.description {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 2vh;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left; }
        .block .tree .row .col.description span,
        .block .tree .row .col.description i.point {
          margin-right: 2vh;
          white-space: nowrap; }
      .block .tree .row .col:nth-child(1) i.point {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .block .tree .row .col:nth-child(1).description {
        margin-left: -26px;
        text-align: right; }

.block.block4 {
  margin-top: 25vh; }

.block.block5 {
  background-image: url(../img/block_gray_bg_rotate.svg?r);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -5vh;
  padding-bottom: 15vh;
  padding-top: 35vh; }
  .block.block5 h2 {
    margin-top: -15vh;
    text-align: center; }
  .block.block5 .row {
    margin-top: 5vh; }
    .block.block5 .row .visual {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      text-align: center;
      width: 45%; }
      .block.block5 .row .visual img {
        margin: 4vh auto auto 5vh;
        width: 45%; }
    .block.block5 .row .overview {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 50%; }

.block.block6 {
  background-image: url(../img/block_gray_bg.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -15vh;
  padding-bottom: 15vh;
  padding-top: 35vh; }
  .block.block6 h2 {
    margin-top: -20vh;
    text-align: center; }
  .block.block6 .row {
    margin-top: 20vh; }
    .block.block6 .row .visual {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      text-align: left;
      width: 50%; }
      .block.block6 .row .visual img {
        margin: 17vh auto auto 5vh;
        width: 45%; }
    .block.block6 .row .overview {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      padding-top: 3vh;
      width: 46%; }

.block.block7 {
  background-image: url(../img/block_gray_bg_rotate.svg?r);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -25vh;
  padding-bottom: 15vh;
  padding-top: 30vh;
  text-align: center; }
  .block.block7 > p {
    margin: 0 auto;
    width: 40%; }
  .block.block7 .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10vh; }
    .block.block7 .row .col {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      font-size: 1.9vh;
      width: 25%; }
      .block.block7 .row .col .point {
        margin-bottom: 4vh; }

.block {
  color: #2d2d2d;
  font-size: 2.2vh;
  font-weight: 200; }
  .block h1 {
    color: #394e57;
    font-size: 2.9vh;
    font-weight: bolder;
    padding-bottom: 1.5vh;
    text-transform: uppercase; }
  .block h2 {
    color: #394e57;
    font-size: 2.5vh;
    font-weight: bolder;
    text-transform: uppercase; }
    .block h2.red {
      color: #ef494d; }
  .block p {
    padding-bottom: 2vh; }
  .block .point {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(../img/point_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 33px;
    flex-basis: 33px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.1vh;
    font-style: normal;
    height: 33px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 33px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

header {
  background-attachment: fixed;
  background-image: url(../img/bg.jpg);
  background-position: center -50px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative; }
  header:after {
    background-image: url(../img/bg_overlay.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 1px;
    width: 100%;
    z-index: 0; }
  header .fixed {
    padding: 1vh;
    position: fixed;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 100%;
    z-index: 2; }
    header .fixed.inverse {
      background-color: rgba(111, 32, 36, 0.75); }
    header .fixed .wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .fixed .wrapper .logo {
        color: #fff; }
      header .fixed .wrapper nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        list-style-type: none; }
        header .fixed .wrapper nav ul li {
          font-size: 1.6vh;
          padding: 1vh 2.3vh; }
          header .fixed .wrapper nav ul li.active {
            background-color: rgba(255, 255, 255, 0.25); }
          header .fixed .wrapper nav ul li a {
            color: #fff;
            text-decoration: none;
            white-space: nowrap; }
  header .wrapper section {
    color: #fff;
    margin: 15vh auto 5vh auto;
    text-align: center;
    width: 63%;
    z-index: 999; }
    header .wrapper section h1 {
      color: #f0f0f0;
      font-family: Helvetica;
      font-size: 3vh;
      font-weight: 400;
      padding-bottom: 2vh; }
    header .wrapper section p {
      font-size: 1.9vh;
      padding-bottom: 1vh; }
      header .wrapper section p.thin {
        font-weight: 100; }
    header .wrapper section .buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      margin: 5vh auto 0 auto;
      width: 60%; }
      header .wrapper section .buttons .btn {
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 1.6vh;
        font-weight: 500;
        margin-left: .5vh;
        padding: .9vh 4vh;
        text-decoration: none;
        white-space: nowrap; }

