@font-face {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  src: url(../font/icons.eot);
  src: url(../font/icons.eot#iefix) format('embedded-opentype'),url(../font/icons.woff2) format('woff2'),url(../font/icons.woff) format('woff'),url(../font/icons.ttf) format('truetype'),url(../font/icons.svg#icons) format('svg');
}

@font-face {
  font-family: Gotham;
  font-style: normal;
  font-weight: 700;
  src: url(../font/GothamBold.eot);
  src: url(../font/GothamBold.eot?#iefix) format('embedded-opentype'),url(../font/GothamBold.woff2) format('woff2'),url(../font/GothamBold.woff) format('woff'),url(../font/GothamBold.ttf) format('truetype'),url(../font/GothamBold.svg#GothamBold) format('svg');
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  font-family: font,Helvetica,Roboto,Arial,sans-serif;
  min-height: 100vh;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
}

.content {
  flex-grow: 1;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.wrapper {
  margin: 0 10%;
}

.box {
  margin: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.background-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  display: block;
  height: auto;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none!important;
}

.show {
  display: block!important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  font-family: Gotham;
}

.icon_logo:before {
  content: '\EA01';
}

.icon_github:before {
  content: '\EA02';
}

.icon_facebook-f:before {
  content: '\EA05';
}

.icon_linkedin:before {
  content: '\EA06';
}

.icon_twitter_n:before {
  content: '\EA07';
}

.icon_chevron-down:before {
  content: '\EA08';
}

.icon_chevron-right:before {
  content: '\EA09';
}

.icon_bars:before {
  content: '\EA0A';
}

.icon_reddit:before {
  content: '\EA0B';
}

.icon_discord:before {
  content: '\EA0C';
}

[class*=icon_]:after,
[class*=icon_]:before {
  display: inline-block;
  font-family: icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1em;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon_]:after:hover,
[class*=icon_]:before:hover {
  text-decoration: none;
}

.animation.invisible {
  opacity: 0;
}

.animation.animation2.active .icons {
  height: 39.9vh;
  position: relative;
}

.animation.animation2.active .bg {
  animation-duration: 3s;
  animation-name: l;
  background: url(../img/animations/animation2/bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 37.7vh;
  left: 3.5vh;
  opacity: 1;
  position: absolute;
  top: 7vh;
  transform: rotate(-27deg);
  width: 34.1vh;
  z-index: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: l;
  -webkit-transform: rotate(-27deg);
}

.animation.animation2.active .list-block {
  animation-duration: 1s;
  animation-name: a;
  display: inline-block;
  height: 19vh;
  left: 1px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 15.9vh;
  z-index: 1;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: a;
}

@-webkit-keyframes a {
  0% {
    left: 2vh;
    opacity: 0;
    top: 2vh;
  }

  to {
    left: 1px;
    opacity: 1;
    top: 1px;
  }
}

@keyframes a {
  0% {
    left: 2vh;
    opacity: 0;
    top: 2vh;
  }

  to {
    left: 1px;
    opacity: 1;
    top: 1px;
  }
}

.animation.animation2.active .list {
  background: url(../img/animations/animation2/list.svg);
  background-repeat: no-repeat;
  height: 16.9vh;
  left: 3vh;
  position: absolute;
  width: 15.8vh;
  z-index: 3;
}

.animation.animation2.active .list-bg {
  animation-duration: 1s;
  animation-name: b;
  background: url(../img/animations/animation2/list_bg.svg);
  height: 169px;
  left: 50px;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 138px;
  z-index: 2;
  -webkit-animation-duration: 1s;
  -webkit-animation-name: b;
}

@-webkit-keyframes b {
  0% {
    left: 40px;
    opacity: 0;
    top: 10px;
  }

  to {
    left: 50px;
    opacity: 1;
    top: 20px;
  }
}

@keyframes b {
  0% {
    left: 40px;
    opacity: 0;
    top: 10px;
  }

  to {
    left: 50px;
    opacity: 1;
    top: 20px;
  }
}

.animation.animation2.active .guy {
  background: url(../img/animations/animation2/guy.svg);
  height: 231px;
  left: 135px;
  position: absolute;
  top: 47px;
  width: 147px;
  z-index: 4;
}

.animation.animation2.active .money-block {
  display: inline-block;
  height: 145px;
  left: 184px;
  position: absolute;
  top: 180px;
  width: 154px;
}

.animation.animation2.active .money-box {
  background: url(../img/animations/animation2/money_box.svg) no-repeat;
  bottom: 0;
  height: 72px;
  left: 40px;
  position: absolute;
  width: 69px;
  z-index: 6;
}

.animation.animation2.active .money {
  animation-duration: 2s;
  animation-name: c;
  background: url(../img/animations/animation2/money.svg) no-repeat;
  bottom: -10px;
  height: 82px;
  left: 69px;
  opacity: 1;
  position: absolute;
  width: 99px;
  z-index: 5;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: c;
}

@-webkit-keyframes c {
  0% {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 69px;
    opacity: 1;
  }
}

@keyframes c {
  0% {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 69px;
    opacity: 1;
  }
}

.animation.animation2.active .cardes {
  animation-duration: 2s;
  animation-name: d;
  background: url(../img/animations/animation2/cards.svg) no-repeat;
  bottom: 10px;
  height: 54px;
  opacity: 1;
  position: absolute;
  width: 61px;
  z-index: 5;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: d;
}

@-webkit-keyframes d {
  0% {
    left: 10px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes d {
  0% {
    left: 10px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

.animation.animation2.active .coin1,
.animation.animation2.active .coin2,
.animation.animation2.active .coin3 {
  animation-iteration-count: infinite;
  animation-name: e;
  height: 24px;
  position: absolute;
  width: 24px;
  z-index: 4;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: e;
}

@-webkit-keyframes e {
  0% {
    bottom: 120px;
  }

  to {
    bottom: 30px;
  }
}

@keyframes e {
  0% {
    bottom: 120px;
  }

  to {
    bottom: 30px;
  }
}

.animation.animation2.active .coin1 {
  animation-duration: 3s;
  background: url(../img/animations/animation2/coin1.svg) no-repeat;
  bottom: 30px;
  left: 62px;
  -webkit-animation-duration: 3s;
}

.animation.animation2.active .coin2 {
  animation-duration: 4s;
  background: url(../img/animations/animation2/coin2.svg) no-repeat;
  bottom: 30px;
  left: 55px;
  -webkit-animation-duration: 4s;
}

.animation.animation2.active .coin3 {
  animation-duration: 5s;
  background: url(../img/animations/animation2/coin3.svg) no-repeat;
  bottom: 30px;
  left: 67px;
  -webkit-animation-duration: 5s;
}

.animation.animation2.active .ball,
.animation.animation2.active .ball2,
.animation.animation2.active .cross,
.animation.animation2.active .cross2,
.animation.animation2.active .ringlet,
.animation.animation2.active .ringlet2 {
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 6;
}

.animation.animation2.active .cross {
  animation-duration: 3s;
  animation-name: f;
  background: url(../img/animations/animation2/cross.svg) no-repeat;
  bottom: 154px;
  left: 20px;
  opacity: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: f;
}

@-webkit-keyframes f {
  0% {
    bottom: 174px;
    opacity: 0;
  }

  to {
    bottom: 154px;
    opacity: 1;
  }
}

@keyframes f {
  0% {
    bottom: 174px;
    opacity: 0;
  }

  to {
    bottom: 154px;
    opacity: 1;
  }
}

.animation.animation2.active .cross2 {
  animation-duration: 2.5s;
  animation-name: g;
  background: url(../img/animations/animation2/cross2.svg) no-repeat;
  bottom: 334px;
  left: 220px;
  opacity: 1;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-name: g;
}

@-webkit-keyframes g {
  0% {
    bottom: 354px;
    opacity: 0;
  }

  to {
    bottom: 334px;
    opacity: 1;
  }
}

@keyframes g {
  0% {
    bottom: 354px;
    opacity: 0;
  }

  to {
    bottom: 334px;
    opacity: 1;
  }
}

.animation.animation2.active .ringlet {
  animation-duration: 3s;
  animation-name: h;
  background: url(../img/animations/animation2/ringlet.svg) no-repeat;
  bottom: 114px;
  left: 95px;
  opacity: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: h;
}

@-webkit-keyframes h {
  0% {
    bottom: 164px;
    opacity: 0;
  }

  to {
    bottom: 114px;
    opacity: 1;
  }
}

@keyframes h {
  0% {
    bottom: 164px;
    opacity: 0;
  }

  to {
    bottom: 114px;
    opacity: 1;
  }
}

.animation.animation2.active .ringlet2 {
  animation-duration: 3s;
  animation-name: i;
  background: url(../img/animations/animation2/ringlet2.svg) no-repeat;
  bottom: 224px;
  left: 305px;
  opacity: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: i;
}

@-webkit-keyframes i {
  0% {
    bottom: 264px;
    opacity: 0;
  }

  to {
    bottom: 224px;
    opacity: 1;
  }
}

@keyframes i {
  0% {
    bottom: 264px;
    opacity: 0;
  }

  to {
    bottom: 224px;
    opacity: 1;
  }
}

.animation.animation2.active .ball {
  background: url(../img/animations/animation2/ball.svg) no-repeat;
  bottom: 134px;
  left: 325px;
}

.animation.animation2.active .ball2 {
  background: url(../img/animations/animation2/ball2.svg) no-repeat;
  bottom: 44px;
  left: 145px;
}

.animation.animation2.active .checkbox,
.animation.animation2.active .checkbox2,
.animation.animation2.active .checkbox3 {
  height: 15px;
  opacity: 0;
  position: absolute;
  width: 19px;
  z-index: 6;
}

.animation.animation2.active .checkbox2.isAnimated,
.animation.animation2.active .checkbox3.isAnimated,
.animation.animation2.active .checkbox.isAnimated {
  animation-duration: 1.5s;
  animation-name: j;
  opacity: 1;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: j;
}

@-webkit-keyframes j {
  0% {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 19px;
  }
}

@keyframes j {
  0% {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 19px;
  }
}

.animation.animation2.active .checkbox {
  background: url(../img/animations/animation2/checkbox.svg) no-repeat;
  bottom: 313px;
  left: 56px;
}

.animation.animation2.active .checkbox2 {
  background: url(../img/animations/animation2/checkbox2.svg) no-repeat;
  bottom: 271px;
  left: 56px;
}

.animation.animation2.active .checkbox3 {
  background: url(../img/animations/animation2/checkbox3.svg) no-repeat;
  bottom: 232px;
  left: 56px;
}

.animation.animation2.active .string,
.animation.animation2.active .string2,
.animation.animation2.active .string3,
.animation.animation2.active .string4,
.animation.animation2.active .string5,
.animation.animation2.active .string6 {
  height: 9px;
  left: 92px;
  opacity: 0;
  position: absolute;
  width: 57px;
  z-index: 3;
}

.animation.animation2.active .string {
  background: url(../img/animations/animation2/string.svg);
  top: 29px;
}

.animation.animation2.active .string2 {
  background: url(../img/animations/animation2/string2.svg) no-repeat;
  top: 41px;
}

.animation.animation2.active .string3 {
  background: url(../img/animations/animation2/string3.svg) no-repeat;
  top: 69px;
}

.animation.animation2.active .string4 {
  background: url(../img/animations/animation2/string4.svg) no-repeat;
  top: 81px;
}

.animation.animation2.active .string5 {
  background: url(../img/animations/animation2/string5.svg) no-repeat;
  top: 109px;
}

.animation.animation2.active .string6 {
  background: url(../img/animations/animation2/string6.svg) no-repeat;
  top: 121px;
}

.animation.animation2.active .string2.isAnimated,
.animation.animation2.active .string3.isAnimated,
.animation.animation2.active .string4.isAnimated,
.animation.animation2.active .string5.isAnimated,
.animation.animation2.active .string6.isAnimated,
.animation.animation2.active .string.isAnimated {
  animation-duration: 2.5s;
  animation-name: k;
  opacity: 1;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-name: k;
}

@-webkit-keyframes k {
  0% {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 57px;
  }
}

@keyframes k {
  0% {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
    width: 57px;
  }
}

.animation.animation2.active .circle,
.animation.animation2.active .circle2,
.animation.animation2.active .circle3 {
  height: 36px;
  left: 49px;
  opacity: 0;
  position: absolute;
  width: 33px;
  z-index: 4;
}

.animation.animation2.active .circle {
  background: url(../img/animations/animation2/circle.svg);
  top: 21px;
}

.animation.animation2.active .circle2 {
  background: url(../img/animations/animation2/circle2.svg);
  top: 63px;
}

.animation.animation2.active .circle3 {
  background: url(../img/animations/animation2/circle3.svg);
  top: 103px;
}

.animation.animation2.active .circle2.isAnimated,
.animation.animation2.active .circle3.isAnimated,
.animation.animation2.active .circle.isAnimated {
  animation-duration: 1.5s;
  animation-name: l;
  opacity: 1;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: l;
}

@-webkit-keyframes l {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes l {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.block.advisors {
  background-image: url(../img/block_gray_bg.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -15vh;
  padding-bottom: 5vh;
  padding-top: 20vh;
}

.block.advisors h2 {
  margin-bottom: 7vh;
  margin-top: -15vh;
  text-align: center;
}

.block.advisors ul.navigation {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.block.advisors ul.navigation li {
  border-radius: 50px;
  cursor: pointer;
  display: block;
  height: 4px;
  margin: 0 3px;
  padding: 10px;
  width: 4px;
}

.block.advisors ul.navigation li.active {
  border: 1px solid #ef494e;
}

.block.advisors ul.navigation li.active:before {
  background-color: #ef494e;
}

.block.advisors ul.navigation li:before {
  background-color: #e4e4e4;
  border-radius: 50px;
  content: '';
  display: block;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
  width: 4px;
}

.block.advisors .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh auto 0;
  max-width: 98%;
  overflow: hidden;
  padding-bottom: 5vh;
  width: 120.6vh;
}

.block.advisors .cards li {
  display: inline-block;
  flex-shrink: 0;
  max-width: 98%;
  position: relative;
  width: 40vh;
  -ms-flex-negative: 0;
}

.block.advisors .cards .card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 20px 0 hsla(0,0%,56%,.08);
  color: #000;
  flex-direction: column;
  font-size: 2rem;
  justify-content: flex-start;
  margin: 0 10px;
  overflow: hidden;
  padding: 3.5vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-direction: column;
  -ms-flex-pack: start;
}

.block.advisors .cards .card,
.block.advisors .cards .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.block.advisors .cards .card .card-header {
  flex-direction: row;
  padding-bottom: .5vh;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
}

.block.advisors .cards .card .card-header img {
  height: 48px;
  width: 48px;
}

.block.advisors .cards .card .card-header .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: auto;
  margin-left: 4.5vh;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
}

.block.advisors .cards .card .card-header .person div {
  font-size: 1.8vh;
  height: 2.5vh;
}

.block.advisors .cards .card .card-header .person div.name {
  font-weight: 700;
}

.block.advisors .cards .card .card-header .person div.position {
  color: #bababa;
  font-size: 1.5vh;
}

.block.advisors .cards .card .card-content {
  color: #676767;
  display: block;
  font-size: 1.8vh;
  line-height: 160%;
  min-height: 10vh;
  white-space: wrap;
  white-space: normal;
}

.block.advisors .cards .card:hover .overlap {
  background-color: rgba(111,32,36,.9);
  left: 0;
  visibility: visible;
}

.block.advisors .cards .card .overlap {
  align-items: center;
  background-color: rgba(111,32,36,0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all .2s;
  visibility: hidden;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.block.advisors .cards .card .overlap a {
  color: #fff;
  font-size: 3vh;
  margin: auto 1vh;
}

.block.block1 {
  margin-top: 6vh;
}

.block.block1 .visual {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 60%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.block.block1 .visual img {
  margin-top: -11vh;
  width: 60%;
  z-index: 1;
}

.block.block1 .overview {
  width: 40%;
}

.block.block2 {
  background-image: url(../img/block_gray_bg.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -15vh;
  padding-bottom: 15vh;
  padding-top: 39vh;
}

.block.block2 .visual {
  order: 1;
  text-align: left;
  width: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.block.block2 .visual img {
  margin: 4vh auto auto 5vh;
  width: 45%;
}

.block.block2 .overview {
  order: 2;
  width: 40%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
}

.block.block3,
.block.block4 {
  text-align: center;
}

.block.block3 .tree,
.block.block4 .tree {
  height: 453px;
}

.block.block3 .tree .row,
.block.block4 .tree .row {
  flex-shrink: 0;
  height: 180px;
  -ms-flex-negative: 0;
}

.block.block3 .tree .row:first-child,
.block.block4 .tree .row:first-child {
  padding-top: 30px;
}

.block .tree {
  background-image: url(../img/tree.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5vh auto 0;
  width: 50%;
}

.block .tree .row {
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.block .tree .row:nth-child(odd) .point {
  margin-left: 1.6vh;
}

.block .tree .row .col {
  width: 40%;
}

.block .tree .row .col img {
  width: 50%;
}

.block .tree .row .col.description {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vh;
  justify-content: flex-start;
  text-align: left;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.block .tree .row .col.description i.point,
.block .tree .row .col.description span {
  margin-right: 2vh;
  z-index: 9;
}

.block .tree .row .col:first-child i.point {
  order: 1;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.block .tree .row .col:first-child.description {
  margin-left: -4.6vh;
  text-align: right;
}

.block.block4 {
  margin-top: 15vh;
}

.block.block5 {
  background-image: url(../img/block_gray_bg_rotate.svg?rnd=22);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -5vh;
  padding-bottom: 15vh;
  padding-top: 35vh;
}

.block.block5 h2 {
  margin-top: -15vh;
  text-align: center;
}

.block.block5 .row {
  margin-top: 5vh;
}

.block.block5 .row .visual {
  order: 2;
  text-align: center;
  width: 45%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
}

.block.block5 .row .visual img {
  margin: 4vh auto auto 5vh;
  width: 45%;
}

.block.block5 .row .overview {
  order: 1;
  width: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.block.block6 {
  background-image: url(../img/block_gray_bg.svg);
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -15vh;
  padding-bottom: 15vh;
  padding-top: 32vh;
}

.block.block6 h2 {
  margin-top: -20vh;
  text-align: center;
}

.block.block6 .row {
  margin-top: 20vh;
}

.block.block6 .row .visual {
  order: 1;
  text-align: left;
  width: 50%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
}

.block.block6 .row .visual img {
  margin: 17vh auto auto 5vh;
  width: 55%;
}

.block.block6 .row .overview {
  order: 2;
  padding-top: 3vh;
  width: 46%;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
}

.block.block7 {
  background-image: url(../img/block_gray_bg_rotate.svg?r);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: -25vh;
  padding-bottom: 15vh;
  padding-top: 30vh;
  text-align: center;
}

.block.block7 > p {
  color: #394e57;
  letter-spacing: .05vh;
  margin: 0 auto;
  width: 40%;
}

.block.block7 .row {
  justify-content: space-between;
  margin-top: 10vh;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.block.block7 .row .col {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 1.9vh;
  line-height: 160%;
  width: 25%;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
}

.block.block7 .row .col .point {
  margin-bottom: 4vh;
}

.block.block7 .details {
  padding-top: 10vh;
}

.block.block7 .details h2 {
  margin-bottom: 5vh;
}

.block {
  color: #2d2d2d;
  font-size: 2.2vh;
  font-weight: 200;
}

.block svg {
  position: relative;
}

.block h1 {
  color: #394e57;
  font-size: 2.4vh;
  font-weight: bolder;
  padding-bottom: 1.5vw;
  text-transform: uppercase;
}

.block h1.red {
  color: #ef494d;
  font-family: Gotham;
  font-size: 3vh;
}

.block h2 {
  color: #394e57;
  font-family: Helvetica;
  font-size: 2.1vh;
  font-weight: bolder;
  text-transform: uppercase;
}

.block h2.red {
  color: #ef494d;
  font-family: Gotham;
  font-size: 3vh;
}

.block p {
  font-size: 2vh;
  line-height: 140%;
  padding-bottom: 1.2vw;
}

.block .point {
  align-items: center;
  background-image: url(../img/point_bg.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-basis: 33px;
  flex-shrink: 0;
  font-size: 1.1vh;
  font-style: normal;
  height: 33px;
  justify-content: center;
  width: 33px;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -ms-flex-preferred-size: 33px;
}

.block .btn {
  background: #ef494d;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 1.7vh;
  font-weight: bolder;
  margin-top: 2vh;
  padding: .8vh 2.3vh;
}

.block.contact {
  text-align: center;
}

.block.contact > p {
  margin: 0 auto;
  width: 40%;
}

.block.contact .row {
  justify-content: space-around;
  margin-top: 5vh;
  -ms-flex-pack: distribute;
}

.block.contact .row .col {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 1.9vh;
  width: 20%;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
}

.block.contact .row .col .point {
  margin-bottom: 4vh;
}

.block.contact .details {
  padding-top: 10vh;
}

.block.contact .details h2 {
  margin-bottom: 5vh;
}

.block.faq {
  padding: 20vh 0;
}

.block.faq h1,
.block.faq h2 {
  font-weight: 700;
  text-align: center;
}

.block.faq h1 {
  font-size: 3vh;
}

.block.faq .questions {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  margin-top: 3vh;
  width: 100%;
}

.block.faq .questions .question .title {
  background-color: #ef494d;
  border-bottom: 1px solid #fff;
  color: #fff;
  flex-wrap: nowrap;
  font-size: 2vh;
  font-weight: bolder;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: nowrap;
}

.block.faq .questions .question .title,
.block.faq .questions .question .title i {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.block.faq .questions .question .title i {
  flex-shrink: 0;
  justify-content: center;
  padding: 1vh 2vh;
  text-align: center;
  transform: rotate(90deg);
  transition: all .5s;
  white-space: nowrap;
  width: 40px;
  -webkit-box-pack: center;
  -ms-flex-negative: 0;
  -ms-flex-pack: center;
  -webkit-transform: rotate(90deg);
}

.block.faq .questions .question .title span {
  flex-basis: 70%;
  flex-shrink: 0;
  max-width: 90%;
  padding: 10px;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: 70%;
}

.block.faq .questions .question .answer {
  font-size: 0;
  height: auto;
  max-height: 0;
  opacity: 0;
  transition: max-height 1s,opacity 1.5s;
  visibility: hidden;
}

.block.faq .questions .question .answer ul {
  list-style-type: disc;
  padding: 0 3vh;
}

.block.faq .questions .question .answer ul li {
  clear: both;
  padding-bottom: 1vh;
}

.block.faq .questions .question .answer a {
  color: #ef494d;
}

.block.faq .questions .question .answer a.btn {
  color: #fff;
}

.block.faq .questions .question.active .title i {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}

.block.faq .questions .question.active .answer {
  font-size: 2vh;
  max-height: 1000px;
  opacity: 1;
  padding: 2vh;
  visibility: visible;
}

footer {
  background-color: #4e4e4e;
  color: #fff;
  display: block;
  padding: 6vh 0;
}

footer h1 {
  font-size: 4vh;
  font-weight: 400;
  text-align: center;
}

footer h1.follow_us {
  margin-top: 4vh;
}

footer p {
  font-size: 2vh;
  padding: 2vh 0;
  text-align: center;
}

footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

footer form input[type=email] {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  border-right: 0;
  color: #fff;
  flex-shrink: .5;
  font-size: 1.5vh;
  margin: 0;
  padding: 2vh;
  width: 50%;
  -ms-flex-negative: .5;
}

footer form input[type=submit],
footer form select {
  appearance: none;
  background-color: #ef494e;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  margin: 0;
  margin-top: 0;
  padding: 1.3vh;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
}

footer .icons {
  flex-wrap: wrap;
  margin: 6vh auto;
  max-width: 800px;
  width: 50%;
  -ms-flex-wrap: wrap;
}

footer .icons,
footer .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

footer .icons .icon {
  align-items: center;
  background: #fff;
  border-radius: 5px;
  color: #4e4e4e;
  font-size: 3vh;
  height: 8vh;
  margin: 1vh;
  max-height: 34px;
  max-width: 34px;
  padding: 2vh;
  transition: all .5s;
  width: 8vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

footer .icons .icon:hover {
  background-color: #ef494d;
  color: #fff;
}

footer ul li {
  list-style-type: none;
}

footer nav {
  margin: 0 auto;
  width: 70%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

footer nav ul li {
  font-size: 1.4vh;
  margin: 0 2vh;
}

footer p.copy {
  font-weight: bolder;
  margin-top: 5vh;
}

.response {
  font-weight: 700;
  margin-top: 20px;
}

.response-error {
  color: #ef494d;
}

.response-success {
  color: #d6e9c6;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  background-attachment: fixed;
  background-color: #691c20;
  background-image: url(../img/bg_new.jpg);
  background-position: 50%;
  background-size: cover;
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}

header,
header:after {
  background-repeat: no-repeat;
  border: 0;
}

header:after {
  background-image: url(../img/bg_overlay.svg);
  background-position: bottom;
  background-size: contain;
  box-sizing: unset;
  content: '';
  display: block;
  height: 100%;
  left: -2px;
  position: absolute;
  top: 1px;
  width: 101%;
  z-index: 0;
}

header .fixed {
  padding: .6vw;
  position: fixed;
  transition: all 1s;
  width: 100%;
  z-index: 7;
}

header .fixed.inverse {
  background-color: #6f2024;
}

header .fixed .wrapper {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

header .fixed .wrapper .logo {
  color: #fff;
  font-size: 2.3vh;
}

header .fixed .wrapper a.toggle_menu {
  cursor: pointer;
  display: none;
}

header .fixed .wrapper a.toggle_menu i.icon_bars {
  color: #fff;
  font-size: 2.7vh;
}

header .fixed .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

header .fixed .wrapper nav ul li {
  font-size: 1vw;
  padding: .4vw 1vw;
}

header .fixed .wrapper nav ul li.background {
  background-color: hsla(0,0%,100%,.25)!important;
  border-radius: 4px;
}

header .fixed .wrapper nav ul li.active {
  font-weight: bolder;
}

header .fixed .wrapper nav ul li a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}

header .wrapper section {
  color: #fff;
  margin: 21vh auto 5vh;
  position: relative;
  text-align: center;
  width: 50%;
  z-index: 8;
  z-index: 1;
}

header .wrapper section h1 {
  color: #f0f0f0;
  font-family: Helvetica;
  font-size: 4.2vh;
  font-weight: 600;
  line-height: 110%;
  padding-bottom: 2vh;
}

header .wrapper section p {
  font-size: 1.6vh;
  margin: 0 auto;
  padding-top: 2vh;
  width: 90%;
}

header .wrapper section p.thin {
  font-weight: 100;
}

header .wrapper section .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 1.5vw auto 0;
  width: 60%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

header .wrapper section .buttons .btn {
  background-color: hsla(0,0%,100%,.2);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.4vh;
  font-weight: 500;
  margin-left: .5vh;
  padding: .9vh 4vh;
  text-decoration: none;
  white-space: nowrap;
}

header .wrapper section .buttons .btn:first-child {
  margin-right: 1vw;
}

header .mobile {
  display: none;
}

.block.team {
  background-image: url(../img/block_gray_bg_rotate.svg?rnd=22);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 65%;
  margin-top: -15vh;
  padding-bottom: 15vh;
  padding-top: 35vh;
}

.block.team h2 {
  margin-bottom: 7vh;
  margin-top: -15vh;
  text-align: center;
}

.block.team ul.navigation {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-top: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.block.team ul.navigation li {
  border-radius: 50px;
  cursor: pointer;
  display: block;
  height: 4px;
  margin: 0 3px;
  padding: 10px;
  width: 4px;
}

.block.team ul.navigation li.active {
  border: 1px solid #ef494e;
}

.block.team ul.navigation li.active:before {
  background-color: #ef494e;
}

.block.team ul.navigation li:before {
  background-color: #e4e4e4;
  border-radius: 50px;
  content: '';
  display: block;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
  width: 4px;
}

.block.team .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh auto 0;
  max-width: 98%;
  overflow: hidden;
  padding-bottom: 5vh;
  width: 120.6vh;
}

.block.team .cards li {
  display: inline-block;
  flex-shrink: 0;
  max-width: 98%;
  position: relative;
  width: 40vh;
  -ms-flex-negative: 0;
}

.block.team .cards .card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 20px 0 hsla(0,0%,56%,.08);
  color: #000;
  flex-direction: column;
  font-size: 2rem;
  justify-content: flex-start;
  margin: 0 10px;
  overflow: hidden;
  padding: 3.5vh;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-direction: column;
  -ms-flex-pack: start;
}

.block.team .cards .card,
.block.team .cards .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
}

.block.team .cards .card .card-header {
  flex-direction: row;
  padding-bottom: .5vh;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
}

.block.team .cards .card .card-header img {
  height: 48px;
  width: 48px;
}

.block.team .cards .card .card-header .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: auto;
  margin-left: 4.5vh;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -ms-flex-wrap: wrap;
}

.block.team .cards .card .card-header .person div {
  font-size: 1.8vh;
  height: 2.5vh;
}

.block.team .cards .card .card-header .person div.name {
  font-weight: 700;
}

.block.team .cards .card .card-header .person div.position {
  color: #bababa;
  font-size: 1.5vh;
}

.block.team .cards .card .card-content {
  color: #676767;
  display: block;
  font-size: 1.8vh;
  line-height: 160%;
  min-height: 10vh;
  white-space: wrap;
  white-space: normal;
}

.block.team .cards .card:hover .overlap {
  background-color: rgba(111,32,36,.9);
  left: 0;
  visibility: visible;
}

.block.team .cards .card .overlap {
  align-items: center;
  background-color: rgba(111,32,36,0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all .2s;
  visibility: hidden;
  width: 100%;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.block.team .cards .card .overlap a {
  color: #fff;
  font-size: 3vh;
  margin: auto 1vh;
}

@media (min-width:1500px) {
  .block.advisors .cards {
    width: 80.4vh;
  }

  .block.team .cards {
    width: 120.6vh;
  }
}

@media (max-width:1200px) {
  footer .icons,
  footer nav {
    width: 100%;
  }

  footer .icons .icon {
    font-size: 2.5vh;
    height: 5vh;
    width: 5vh;
  }

  footer nav {
    font-size: 1.5vh;
  }
}

@media (max-width:1100px) {
  .block.advisors .cards {
    width: 80.4vh;
  }

  .block.block2 {
    padding-top: 24vh;
  }

  .block.block3 .tree,
  .block.block4 .tree {
    width: 85%;
  }

  .block.team .cards {
    width: 80.4vh;
  }
}

@media (max-width:850px) {
  .wrapper {
    margin: 5%;
  }
}

@media (max-width:800px) {
  .animation.animation2 .icons {
    transform: scale(.8);
    -webkit-transform: scale(.8);
  }

  .block.advisors {
    background-image: none;
    padding-top: 30vh;
  }

  .block.advisors .cards {
    width: 40.2vh;
  }

  .block.advisors .cards .card {
    margin-top: 2vh;
  }

  .block.advisors .cards .card .card-header img {
    height: 5vh;
    width: 5vh;
  }

  .block.advisors .cards .card .card-header .person div.name,
  .block.advisors .cards .card .card-header .person div.position {
    font-size: 2.2vh;
  }

  .block.advisors .cards .card .card-content {
    font-size: 2.4vh;
  }

  .block.advisors .frame {
    margin-left: calc(100% - 120vh);
    width: 120vh;
  }

  .block.block1,
  .block.block2 {
    margin-top: 5vh;
  }

  .block.block1 .row,
  .block.block2 .row {
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
  }

  .block.block1 .row .col,
  .block.block2 .row .col {
    width: 100%;
  }

  .block.block1 .row .col.visual,
  .block.block2 .row .col.visual {
    margin-bottom: 4vh;
    order: 1;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .block.block1 .row .col.visual img,
  .block.block2 .row .col.visual img {
    margin: 0;
    width: 50%;
  }

  .block.block1 .row .col.overview,
  .block.block2 .row .col.overview {
    order: 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .block.block2 {
    background-image: url(../img/block_gray_bg_small_rotate.svg);
    background-position: 0 50%;
    background-size: 100%;
    padding-top: 0;
  }

  .block.block2 .overview {
    padding-top: 13vh;
  }

  .block3 .tree,
  .block4 .tree {
    background-image: none;
    height: 750px!important;
  }

  .block3 .tree .row,
  .block4 .tree .row {
    align-items: center;
    display: relative!important;
    flex-direction: column;
    justify-content: center;
    margin-top: 28vh;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
  }

  .block3 .tree .row:before,
  .block4 .tree .row:before {
    background: #ef494d;
    content: '';
    display: block;
    height: 90px;
    margin-top: -20vh;
    position: absolute;
    width: 1.2vh;
  }

  .block3 .tree .row .col,
  .block4 .tree .row .col {
    align-items: center!important;
    display: relative!important;
    flex-direction: column;
    justify-content: center!important;
    margin: 20px 0!important;
    padding: 0;
    text-align: center!important;
    -webkit-box-align: center!important;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center!important;
    -ms-flex-align: center!important;
    -ms-flex-direction: column;
    -ms-flex-pack: center!important;
  }

  .block3 .tree .row .col img,
  .block4 .tree .row .col img {
    width: 100%;
  }

  .block3 .tree .row .col.img,
  .block4 .tree .row .col.img {
    order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .block3 .tree .row .col.description,
  .block4 .tree .row .col.description {
    margin-left: 0!important;
    margin-right: 0!important;
    order: 2;
    padding: 20px!important;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .block3 .tree .row .col.description .point,
  .block4 .tree .row .col.description .point {
    margin: 0!important;
    order: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .block3 .tree .row .col.description span,
  .block4 .tree .row .col.description span {
    margin: 0;
    order: 2;
    white-space: nowrap;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .block.block4 {
    margin-bottom: 35vh;
    margin-top: 55vh;
  }

  .block.block5 {
    background-image: url(../img/block_gray_bg_small.svg);
    background-position: 0 185%;
    background-size: contain;
  }

  .block.block5 .row {
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
  }

  .block.block5 .row .overview {
    margin-top: 20vh;
    order: 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .block.block5 .row .visual {
    order: 1;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .block.block5 .row .visual img {
    margin: 0;
    width: 40%;
  }

  .block.block5 .row .overview {
    width: 100%;
  }

  .block.block6 {
    background-position: 0 34%;
    background-size: 100%;
    padding-top: 0;
  }

  .block.block6 h2 {
    margin-top: 6vh;
  }

  .block.block6 .row {
    flex-direction: column;
    margin-top: 6vh;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
  }

  .block.block6 .row .col {
    width: 100%;
  }

  .block.block6 .row .col.visual {
    margin-bottom: 4vh;
    order: 1;
    text-align: center;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
  }

  .block.block6 .row .col.visual img {
    margin: 0;
    width: 50%;
  }

  .block.block6 .row .col.overview {
    margin-bottom: 10vh;
    margin-top: 19vh;
    order: 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
  }

  .block.block7 {
    background-image: url(../img/block_gray_bg_small.svg);
    background-size: 100%;
    padding-top: 10vh;
  }

  .block.block7 > p {
    font-weight: bolder;
    width: 80%;
  }

  .block.block7 .row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
  }

  .block.block7 .row .col {
    padding-top: 5vh;
    width: 50%;
  }

  .block .point {
    flex-basis: 40px;
    font-size: 1.6vh;
    height: 40px;
    width: 40px;
    -ms-flex-preferred-size: 40px;
  }

  .block.contact .row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
  }

  .block.contact .row .col {
    margin-top: 5vh;
    width: 80%;
  }

  footer form input[type=email] {
    border-right: 1px solid #fff;
    margin-bottom: 2vh;
    width: 80%;
  }

  footer form input[type=submit] {
    margin-left: 1vh;
  }

  header {
    background-attachment: scroll;
  }

  header .wrapper section {
    width: 95%;
  }

  header .wrapper section p {
    font-size: 2.2vh;
  }

  header .wrapper section .buttons .btn {
    font-size: 1.7vh;
  }

  header .fixed {
    background-color: #6f2024;
    padding: 0;
  }

  header .fixed .wrapper {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 1vh 2vh;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: justify;
  }

  header .fixed .wrapper nav {
    display: none;
  }

  header .fixed .wrapper a.toggle_menu {
    display: block;
  }

  header .fixed .mobile {
    background: rgba(0,0,0,.7);
  }

  header .fixed .mobile.active {
    display: block;
  }

  header .fixed .mobile ul li {
    color: #fff;
    padding: 0;
    padding: 2vh 0;
    text-align: center;
  }

  header .fixed .mobile ul li:hover {
    background: #000;
  }

  header .fixed .mobile ul li a {
    display: block;
    height: 2vh;
    width: 100%;
  }

  .block.team {
    background-image: none;
    padding-top: 30vh;
  }

  .block.team .cards {
    width: 40.2vh;
  }

  .block.team .cards .card {
    margin-top: 2vh;
  }

  .block.team .cards .card .card-header img {
    height: 5vh;
    width: 5vh;
  }

  .block.team .cards .card .card-header .person div.name,
  .block.team .cards .card .card-header .person div.position {
    font-size: 2.2vh;
  }

  .block.team .cards .card .card-content {
    font-size: 2.4vh;
  }

  .block.team .frame {
    margin-left: calc(100% - 120vh);
    width: 120vh;
  }
}

@media (max-width:1400px) and (min-width:1101px) {
  .block.block3 .tree,
  .block.block4 .tree {
    width: 65%;
  }
}