doctype html

html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name="description" content="Blocktix is an Ethereum based, counterfeit-resistant to distribute, advertise, and transfer ownership of event tickets or passes.")
    meta(name="author" content="Blocktix")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="theme-color" content="#691c20")
    title Blocktix - An Ethereum based Event hosting platform designed for the real world
    link(rel='shortcut icons' href='img/favicon.ico' type='image/x-icons')
    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/style.css')
    include social

  body
    include global
    include mixins

    block config
    block page

    include page-nav

    script(src='js/vendor.js')
    script(src='js/script.js')
