-
  const config = {
    debug: false
  }

  const getBackgroundImageProperty = image => `background-image:url(img/${image});`
  const memberImage = member => `./img/${member.image}`
  const animation = file => `./img/${file}?rnd=${Math.random()}`

  const menu_items = [
    {title: $i18n.menu_create_events, name: "create_events"},
    {title: $i18n.menu_attend_events, name: "attend_events"},
    {title: $i18n.menu_tix_tokens, name: "tix_tokens"},
    {title: $i18n.menu_team, name: "team"},
    {title: $i18n.menu_advisors, name: "advisors"},
    {title: $i18n.menu_faq, name: "faq"},
    {title: $i18n.menu_signup, name: "signup"}
  ]

  const team = [
    {
      image: "t3.png",
      position: $i18n.team_rob_position,
      name: $i18n.team_rob_name,
      description: $i18n.team_rob_description,
      links: {
        linkedin: "https://www.linkedin.com/in/robschins",
        twitter_n: "https://twitter.com/soepkipcrypto"
      }
    },
    {
      image: "t4.png",
      position: $i18n.team_ryno_position,
      name: $i18n.team_ryno_name,
      description: $i18n.team_ryno_description,
      links: {
        linkedin: "https://za.linkedin.com/in/rmathee",
        github: "https://github.com/rynomster",
        twitter_n: "https://twitter.com/rynomster"
      }
    },
    {
      image: "t2.png",
      position: $i18n.team_bojan_position,
      name: $i18n.team_bojan_name,
      description: $i18n.team_bojan_description,
      links: {
        twitter_n: "https://twitter.com/w000tBot"
      }
    },
    {
      image: "t5.png",
      position: $i18n.team_matt_position,
      name: $i18n.team_matt_name,
      description: $i18n.team_matt_description,
      links: {
        twitter_n: "https://twitter.com/mattjgray",
        linkedin: "https://www.linkedin.com/in/mattjgray"
      }
    }
  ]

  const advisors = [
    {
      image: "rjackson.png",
      position: $i18n.advisor_randy_position,
      name: $i18n.advisor_randy_name,
      description: $i18n.advisor_randy_description,
      links: {
        twitter_n: "https://twitter.com/yo_randyjackson"
      }
    },
    {
      image: "eharp.png",
      position: $i18n.advisor_everette_position,
      name: $i18n.advisor_everette_name,
      description: $i18n.advisor_everette_description,
      links: {
        twitter_n: "https://twitter.com/harpjazz"
      }
    },
    {
      image: "marshal.png",
      position: $i18n.advisor_marshal_position,
      name: $i18n.advisor_marshal_name,
      description: $i18n.advisor_marshal_description,
      links: {
        twitter_n: "https://twitter.com/marshallHayner"
      }
    }
  ]
