-
  const config = {
    debug: false
  }

  const getBackgroundImageProperty = image => `background-image:url(img/${image});`
  const memberImage = member => `./img/${member.image}`
  const animation = file => `./img/${file}?rnd=${Math.random()}`

  const menu_items = [
    {title: "Create Events", name: "create_events"},
    {title: "Attend Events", name: "attend_events"},
    {title: "TIX Tokens", name: "tix_tokens"},
    {title: "Team", name: "team"},
    {title: "FAQ", name: "faq"},
    {title: "Sign Up", name: "signup"}
  ]

  const team = [
    {
      image: "t3.png",
      position: "CEO",
      name: "Rob Schins",
      description: "With over one year experience as Community Manager for projects like Blackcoin and ShadowCash, Rob now joins the Blocktix Team. His task: to manage the project from idea to execution.",
      links: {
        linkedin: "https://www.linkedin.com/in/robschins",
        twitter_n: "https://twitter.com/soepkipcrypto"
      }
    },
    {
      image: "t4.png",
      position: "CTO",
      name: "Ryno Mathee",
      description: "Ryno is the architect of Blocktix, and has a proven track record in cryptocurrency development. He is the Lead Developer of The Particl Project, and was the founder of ShadowCash, which later grew into The Shadow Project.",
      links: {
        linkedin: "https://za.linkedin.com/in/rmathee",
        github: "https://github.com/rynomster",
        twitter_n: "https://twitter.com/rynomster"
      }
    },
    {
      image: "t2.png",
      position: "Project Assistant",
      name: "Bojan Malešević",
      description: "A big love for crypto and always willing to help awesome projects out, Bojan joins the Blocktix team as the Project's Assistant. Always ready to help out in any way he can: putting out fires, talking with the community and more.",
      links: {
        twitter_n: "https://twitter.com/w000tBot"
      }
    },
    {
      image: "t1.png",
      position: "Advisor",
      name: "Marshall Hayner",
      description: "Marshall provides Blocktix with invaluable insight and advice. He is also the CEO of MetalPay, a groundbreaking value generator that rewards every transaction.",
      links: {
        twitter_n: "https://twitter.com/marshallHayner"
      }
    }
  ]
