-
  const config = {
    debug: false
  }

  const getBackgroundImageProperty = image => `background-image:url(img/${image});`
  const memberImage = member => `./img/${member.image}`

  const menu_items = [
    "Find Events",
    "Create Events",
    "TIX Tokens",
    "Details",
    "Team",
    "FAQ",
    "Sign Up"
  ]

  const team = [
    {
      image: "t1.png",
      position: "Project Assistant",
      name: "Bojan Malešević",
      description: "A big love for crypto and always willing to help awesome projects out, Bojan joins the Blocktix team as the Project's Assistant. Always ready to help out in any way he can: putting out fires, talking with the community and more."
    },
    {
      image: "t2.png",
      position: "Project Assistant",
      name: "Bojan Malešević",
      description: "A big love for crypto and always willing to help awesome projects out, Bojan joins the Blocktix team as the Project's Assistant. Always ready to help out in any way he can: putting out fires, talking with the community and more."
    },
    {
      image: "t3.png",
      position: "Project Assistant",
      name: "Bojan Malešević",
      description: "A big love for crypto and always willing to help awesome projects out, Bojan joins the Blocktix team as the Project's Assistant. Always ready to help out in any way he can: putting out fires, talking with the community and more."
    },
    {
      image: "t4.png",
      position: "Project Assistant",
      name: "Bojan Malešević",
      description: "A big love for crypto and always willing to help awesome projects out, Bojan joins the Blocktix team as the Project's Assistant. Always ready to help out in any way he can: putting out fires, talking with the community and more."
    }
  ]
