mixin text(count = 10)
  -
    const charset = 'abcdefghijklmnopqrstuvwxyz   ';

    const text = new Array(count)
      .fill(null)
      .map(() => charset.charAt(Math.floor(Math.random() * charset.length)))
      .join('');

  = text

mixin card(member)
  .card
    .card-header
      img(src= memberImage(member))
      .person
        div.name= member.name
        div.position= member.position
    .card-content= member.description
    if member.links
      .overlap
        each url, class_name in member.links
          a(href=url class="icon_" + class_name target="_blank")
