@import 'global';
html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'font', 'Helvetica', 'Roboto', Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  width: 100%;
}

.wrapper {
  margin: 0 10%;
}

.box {
  margin: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.background-image {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  display: block;
  height: auto;
  max-width: 100%;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2 {
  font-family: 'Gotham';
}

@media(max-width: 850px) {
  .wrapper {
    margin: 5%;
  }
}
