.animation {
  &.invisible {
    opacity: 0;
  }
  &.animation2.active {
    .icons {
      height: 359px;
      position: relative;
      width: 100%;
    }

    .bg {
      animation-duration: 3s;
      animation-name: bgShow;
      background: url('../img/animations/animation2/bg.svg');
      background-size: contain;
      height: 217px;
      left: 35px;
      opacity: 1;
      position: absolute;
      top: 70px;
      transform: rotate(-27deg);
      width: 341px;
      z-index: 1;
    }

    @keyframes bgShow {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .list-block {
      animation-duration: 1s;
      animation-name: listBlockShow;
      display: inline-block;
      height: 190px;
      left: 1px;
      opacity: 1;
      position: absolute;
      top: 1px;
      width: 159px;
      z-index: 1;
    }
    @keyframes listBlockShow {
      from {
        left: 20px;
        opacity: 0;
        top: 20px;
      }
      to {
        left: 1px;
        opacity: 1;
        top: 1px;
      }
    }

    .list {
      background: url('../img/animations/animation2/list.svg');
      height: 169px;
      left: 30px;
      position: absolute;
      width: 138px;
      z-index: 3;
    }

    .list-bg {
      animation-duration: 1s;
      animation-name: listBgShow;
      background: url('../img/animations/animation2/list_bg.svg');
      height: 169px;
      left: 50px;
      opacity: 1;
      position: absolute;
      top: 20px;
      width: 138px;
      z-index: 2;
    }

    @keyframes listBgShow {
      from {
        left: 40px;
        opacity: 0;
        top: 10px;
      }
      to {
        left: 50px;
        opacity: 1;
        top: 20px;
      }
    }

    .guy {
      background: url('../img/animations/animation2/guy.svg');
      height: 231px;
      left: 135px;
      position: absolute;
      top: 47px;
      width: 147px;
      z-index: 4;
    }

    .money-block {
      display: inline-block;
      height: 145px;
      left: 184px;
      /*right: -33px;*/
      position: absolute;
      top: 180px;
      width: 154px;
    }

    .money-box {
      background: url('../img/animations/animation2/money_box.svg') no-repeat;
      bottom: 0;
      height: 72px;
      left: 40px;
      position: absolute;
      width: 69px;
      z-index: 6;
    }

    .money {
      animation-duration: 2s;
      animation-name: moneyShow;
      background: url('../img/animations/animation2/money.svg') no-repeat;
      bottom: -10px;
      height: 82px;
      left: 69px;
      opacity: 1;
      position: absolute;
      width: 99px;
      z-index: 5;
    }

    @keyframes moneyShow {
      from {
        left: 50px;
        opacity: 0;
      }

      to {
        left: 69px;
        opacity: 1;
      }
    }

    .cardes {
      animation-duration: 2s;
      animation-name: cardsShow;
      background: url('../img/animations/animation2/cards.svg') no-repeat;
      bottom: 10px;
      height: 54px;
      opacity: 1;
      position: absolute;
      width: 61px;
      z-index: 5;
    }

    @keyframes cardsShow {
      from {
        left: 10px;
        opacity: 0;
      }

      to {
        left: 0;
        opacity: 1;
      }
    }


    .coin1,
    .coin2,
    .coin3 {
      height: 24px;
      position: absolute;
      width: 24px;
      z-index: 4;
    }

    .coin1,
    .coin2,
    .coin3 {
      animation-iteration-count: infinite;
      animation-name: coinShow;
    }

    @keyframes coinShow {
      from {
        bottom: 120px;
      }

      to {
        bottom: 30px;
      }
    }

    .coin1 {
      animation-duration: 3s;
      background: url('../img/animations/animation2/coin1.svg') no-repeat;
      bottom: 30px;
      left: 62px;
    }

    .coin2 {
      animation-duration: 4s;
      background: url('../img/animations/animation2/coin2.svg') no-repeat;
      bottom: 30px;
      left: 55px;
    }

    .coin3 {
      animation-duration: 5s;
      background: url('../img/animations/animation2/coin3.svg') no-repeat;
      bottom: 30px;
      left: 67px;
    }

    .cross,
    .cross2,
    .ringlet,
    .ringlet2,
    .ball,
    .ball2 {
      height: 20px;
      position: absolute;
      width: 20px;
      z-index: 6;
    }

    .cross {
      animation-duration: 3s;
      animation-name: crossShow;
      background: url('../img/animations/animation2/cross.svg') no-repeat;
      bottom: 154px;
      left: 20px;
      opacity: 1;
    }

    @keyframes crossShow {
      from {
        bottom: 174px;
        opacity: 0;
      }
      to {
        bottom: 154px;
        opacity: 1;
      }
    }

    .cross2 {
      animation-duration: 2.5s;
      animation-name: cross2Show;
      background: url('../img/animations/animation2/cross2.svg') no-repeat;
      bottom: 334px;
      left: 220px;
      opacity: 1;
    }

    @keyframes cross2Show {
      from {
        bottom: 354px;
        opacity: 0;
      }
      to {
        bottom: 334px;
        opacity: 1;
      }
    }

    .ringlet {
      animation-duration: 3s;
      animation-name: ringletShow;
      background: url('../img/animations/animation2/ringlet.svg') no-repeat;
      bottom: 114px;
      left: 95px;
      opacity: 1;
    }

    @keyframes ringletShow {
      from {
        bottom: 164px;
        opacity: 0;
      }

      to {
        bottom: 114px;
        opacity: 1;
      }
    }

    .ringlet2 {
      animation-duration: 3s;
      animation-name: ringlet2Show;
      background: url('../img/animations/animation2/ringlet2.svg') no-repeat;
      bottom: 224px;
      left: 305px;
      opacity: 1;
    }

    @keyframes ringlet2Show {
      from {
        bottom: 264px;
        opacity: 0;
      }

      to {
        bottom: 224px;
        opacity: 1;
      }
    }

    .ball {
      background: url('../img/animations/animation2/ball.svg') no-repeat;
      bottom: 134px;
      left: 325px;
    }

    .ball2 {
      background: url('../img/animations/animation2/ball2.svg') no-repeat;
      bottom: 44px;
      left: 145px;
    }

    .checkbox,
    .checkbox2,
    .checkbox3 {
      height: 15px;
      opacity: 0;
      position: absolute;
      width: 19px;
      z-index: 6;
    }

    .checkbox.isAnimated,
    .checkbox2.isAnimated,
    .checkbox3.isAnimated {
      animation-duration: 1.5s;
      animation-name: checkboxShow;
      opacity: 1;
    }

    @keyframes checkboxShow {
      from {
        opacity: 0;
        width: 0;
      }

      to {
        opacity: 1;
        width: 19px;
      }
    }

    .checkbox {
      background: url('../img/animations/animation2/checkbox.svg') no-repeat;
      bottom: 313px;
      left: 56px;
    }

    .checkbox2 {
      background: url('../img/animations/animation2/checkbox2.svg') no-repeat;
      bottom: 271px;
      left: 56px;
    }

    .checkbox3 {
      background: url('../img/animations/animation2/checkbox3.svg') no-repeat;
      bottom: 232px;
      left: 56px;
    }

    .string,
    .string2,
    .string3,
    .string4,
    .string5,
    .string6 {
      height: 9px;
      left: 92px;
      opacity: 0;
      position: absolute;
      width: 57px;
      z-index: 3;
    }

    .string {
      background: url('../img/animations/animation2/string.svg');
      top: 29px;
    }

    .string2 {
      background: url('../img/animations/animation2/string2.svg') no-repeat;
      top: 41px;
    }

    .string3 {
      background: url('../img/animations/animation2/string3.svg') no-repeat;
      top: 69px;
    }

    .string4 {
      background: url('../img/animations/animation2/string4.svg') no-repeat;
      top: 81px;
    }

    .string5 {
      background: url('../img/animations/animation2/string5.svg') no-repeat;
      top: 109px;
    }

    .string6 {
      background: url('../img/animations/animation2/string6.svg') no-repeat;
      top: 121px;
    }

    .string.isAnimated,
    .string2.isAnimated,
    .string3.isAnimated,
    .string4.isAnimated,
    .string5.isAnimated,
    .string6.isAnimated {
      animation-duration: 2.5s;
      animation-name: stringShow;
      opacity: 1;
    }

    @keyframes stringShow {
      from {
        opacity: 0;
        width: 0;
      }

      to {
        opacity: 1;
        width: 57px;
      }
    }

    .circle,
    .circle2,
    .circle3 {
      height: 36px;
      left: 49px;
      opacity: 0;
      position: absolute;
      width: 33px;
      z-index: 4;
    }

    .circle {
      background: url('../img/animations/animation2/circle.svg');
      top: 21px;
    }

    .circle2 {
      background: url('../img/animations/animation2/circle2.svg');
      top: 63px;
    }

    .circle3 {
      background: url('../img/animations/animation2/circle3.svg');
      top: 103px;
    }

    .circle.isAnimated,
    .circle2.isAnimated,
    .circle3.isAnimated {
      animation-duration: 1.5s;
      animation-name: ircleShow;
      opacity: 1;
    }

    @keyframes ircleShow {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

@media(max-width: 800px) {
  .animation {
    &.animation2 {
      .icons {
        transform: scale(.8);
      }
    }
  }
}
